/**
 * _components.scss contains solely the mixin definitions for components.
 *
 * + This file should not depend on styles.scss; we should be able to use
 *   include this file without including styles.scss.
 * + This file should not generate any CSS on it's own; it should only contain
 *   mixin and/or function definitions.
 */


/**
 * The columns mixin makes it so that immmediate child elements appear as
 * columns. It is responsive, allowing you to specify the media query at which
 * to switch the layout from stacking to columns.
 *
 * Additionally, it assumes the use of <hr> elements to create visual gutters
 * that are only visible while displayed as columns.
 */
@mixin columns($query: "min-width: 669px") {
    > hr {
        border: 0;
        display: none;
    }

    @media only screen and (unquote($query)) {
        & {
            display: table;
            table-layout: fixed;
            width: 100%;

            > * {
                display: table-cell;
                vertical-align: top;
            }
            > hr {
                display: table-cell;
                width: 1rem;
            }
        }
    }
}

/**
 * The carousel mixin uses slick to create a carousel. It defaults to a rather
 * basic, one-slide-at-a-time implementation with dots, but slick supports a
 * good deal of configuration including showing multiple slides, breakpoints,
 * syncing between slides, and plenty of javascript events and methods for
 * integration.
 *
 * The implementation on Boilerplate is using a CDN to provide
 *
 * + slick.css
 * + slick-theme.css
 * + slick.min.js
 *
 * See http://kenwheeler.github.io/slick/ for more information.
 */
@mixin carousel() {
    .slick-slide {
        height: auto;
        padding: 3rem;
        color: #fff;
    }

    .slick-prev,
    .slick-next {
        z-index: 1;
    }

    .slick-prev {
        left: 2rem;
    }

    .slick-next {
        right: 2rem;
    }
}
