////
/// _mixins.scss contains helpful code snippets.
///
///
////

///
/// = Mixins =
///

@mixin link {
    color: $link;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:active {
        color: $link-hover;
    }
    &:focus {
        outline: thin dotted;
    }

    &.disabled,
    &[disabled] {
        color: darken(#FFF, 20%);
        cursor: default;
        pointer-events: none;
    }
}


@mixin button {
    background-color: $link;
    color: #FFF;
    display: inline-block;
    font-family: $font-stack;
    font-weight: bold;
    padding: 0.4rem 1rem;
    text-align: center;
    vertical-align: top;

    &:hover,
    &:focus {
        background-color: $link-hover;
    }

    &.disabled,
    &[disabled] {
        background-color: lighten($charcoal, 45%);
        color: darken(#FFF, 20%);
        pointer-events: none;
    }
}


///
/// container mixin
///

@mixin container($max-width: 1200px, $padding: $gutter ) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    padding-left: $padding;
    padding-right: $padding;
    position: relative;
}


///
/// grouping mixin
///

@mixin grouping {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}


///
/// fontawesome mixin
///

@mixin fontawesome($character: "") {
    font: normal normal normal 1em unquote("/") 1 FontAwesome;
    font-size: inherit;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    text-rendering: auto;
    text-transform: none;

    @if $character != "" {
        content: $character;
    } @else {
        display: inline-block;
    }
}


///
/// messaging mixin
///

@mixin messaging {
    margin-bottom: 2rem;
    padding: 1em 3em;
    position: relative;
    p:last-of-type,
    ul:last-of-type {
        margin-bottom: 0;
    }
    a {
        text-decoration: underline;
    }
    &::before {
        @include fontawesome;

        content: "";
        display: block;
        font-size: 20px;
        height: 23px;
        left: 1em;
        position: absolute;
        top: 1em;
        width: 23px;
    }
}


///
/// no-bullets mixin
///

@mixin no-bullets {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li::before {
        display: none;
    }
}


///
/// transition mixin
///

@mixin transition($properties: all, $duration: 250ms, $easing: ease-in-out) {
    @if length($properties) > 1 {
        -webkit-transition-property: $properties;
        transition-property: $properties;
    } @else {
        -webkit-transition: $properties $duration $easing;
        transition: $properties $duration $easing;
    }
}


///
/// visuallyhidden mixin
///

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


///
/// Media Query Mixins
///

#responsive-tester {
    background-color: #999;
    bottom: .5rem;
    color: rgba(255, 255, 255, 0);
    display: block;
    line-height: 1;
    padding: .3em .5em;
    position: fixed;
    left: .5rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 3rem;
    z-index: 10000;

    &:before,
    &:after {
        display: none;
    } 

    &:hover {
        background-color: #000;
        color: #fff;
        width: auto;
        height: auto;
        border-radius: 0;

        &:before,
        &:after {
            display: inline;
        } 
    }

    &:before { content: '0px'; }
    &:after { content: '#{$mq-purple-size}'; }
}

@mixin media-query-purple {  
    @media only screen and (min-width: $mq-purple-size) { 
        #responsive-tester { 
            background-color: $mq-purple-color;

            &:before { content: '#{$mq-purple-size}'; }
            &:after { content: '#{$mq-blue-size}'; }
        }

        @content; 
    }
}

@mixin media-query-blue {  
    @media only screen and (min-width: $mq-blue-size) { 
        #responsive-tester { 
            background-color: $mq-blue-color;

            &:before { content: '#{$mq-blue-size}'; }
            &:after { content: '#{$mq-green-size}'; }
        } 

        @content; 
    }
}

@mixin media-query-green {  
    @media only screen and (min-width: $mq-green-size) { 
        #responsive-tester { 
            background-color: $mq-green-color;

            &:before { content: '#{$mq-green-size}'; }
            &:after { content: '#{$mq-yellow-size}'; }
        } 

        @content; 
    }
}

@mixin media-query-yellow {  
    @media only screen and (min-width: $mq-yellow-size) { 
        #responsive-tester { 
            background-color: $mq-yellow-color;

            &:before { content: '#{$mq-yellow-size}'; }
            &:after { content: '#{$mq-orange-size}'; }
        } 

        @content; 
    }
}

@mixin media-query-orange {  
    @media only screen and (min-width: $mq-orange-size) { 
        #responsive-tester { 
            background-color: $mq-orange-color;

            &:before { content: '#{$mq-orange-size}'; }
            &:after { content: '#{$mq-red-size}'; }
        } 

        @content; 
    }
}

@mixin media-query-red {  
    @media only screen and (min-width: $mq-red-size) { 
        #responsive-tester { 
            background-color: $mq-red-color;
            content: 'and up';

            &:before { content: '#{$mq-red-size}'; }
            &:after { content: 'and up'; }
        } 

        @content; 
    }
}