html {
	font-family: Helvetica, arial, sans;
}
html * {
	box-shadow: 0 0 0 2px inset;
	font-size: 16px;
	margin: 2em 1em;
	min-height: 2em;
	min-width: 5em;
	position: relative;
	padding: .25em 0;
	font-weight: normal;
}

html *:before {
	background: black;
	color: white;
	font-size: 16px;
	left: 0;
	padding: .25em;
	position: absolute;
	top: 0;
}

.selector {
	box-shadow: none;
	color: #888;
	font-size: .75em;
	left: 6em;
	margin: 0;
	padding: 0;
	position: absolute;
	top: .25em;
}

header.primary:after,
.torso:after,
footer.primary:after {
	clear: both;
	content: '';
	display: table;
}

body:before { content: 'body'; }
.site:before { content: '.site'; }
header.primary:before { content: 'header.primary'; }
.torso:before { content: '.torso'; }
footer.primary:before { content: 'footer.primary'; }
aside.primary:before { content: 'aside.primary'; }

.logo:before { content: '.logo'; }
nav.utility:before { content: 'nav.utility'; }
nav.primary:before { content: 'nav.primary'; }
nav.secondary:before { content: 'nav.secondary'; }
section:before { content: 'section'; }
article:before { content: 'article'; }
header:before { content: 'header'; }
footer:before { content: 'footer'; }
aside:before { content: 'aside'; }
.main:before { content: '.main'; }
p:before { content: 'p'; }
.highlight:before { content: '.highlight'; }
.intro:before { content: '.intro'; }
.pagination:before { content: '.pagination'; }
.meta:before { content: '.meta'; }
h2:before { content: 'h2'; }



.site {
	width: 960px;
	margin: 0 auto;
}

.logo {
	float: left;
	height: 5em;
	width: 20em;
}

nav.utility {
	float: right;
	width: 20em;
}

nav.primary {
	clear: both;
}

aside.primary {
	position: absolute;
	right: .25em;
	top: .25em;
	width: 25%;
	height: 95.5%;
}

.main {
	display: block;
	margin-right: 30%;
}

section {
	padding: .5em 0;
	min-height: 5em;
}

nav.secondary {
	height: 10em;
}

h2:after {
	font-size: 3em;
	padding: 0 1em;
	content: 'Article Heading';
}

p {
	padding: 2em 1em;
}
p:after {
	content: 'This is a paragraph. Lorem ipsum paragraph paragraph dolors busker kismet. Ring ring ring ring ring ring banana phone. Ring ring ring ring ring ring banana phone!';
}

.highlight {
	padding: 2em 1em 1em;
}
.highlight:after {
	font-size: 2em;
	content: 'This is highlight. It is important.';
}

.main aside {
	float: right;
	padding: 2em 1em;
}
.main aside:after {
	content: 'See Also: this aside.';
}


nav { box-shadow: 0 0 0 2px #00a0e0 inset; }
nav:before { background: #00a0e0; }

header,.torso,footer { box-shadow: 0 0 0 2px #ad9153 inset; }
header:before,.torso:before,footer:before { background: #ad9153; }

article { box-shadow: 0 0 0 2px #ff0071 inset; }
article:before { background: #ff0071; }

section { box-shadow: 0 0 0 2px #708c3f inset; }
section:before { background: #708c3f; }

p,h1,h2,h3,h4,h5,h6,.meta { box-shadow: 0 0 0 2px #a3a3a3 inset; }
p:before,h1:before,h2:before,h3:before,h4:before,h5:before,h6:before,.meta:before { background: #a3a3a3; }
