/* = Table of Contents =

 * Colors
 * Web Fonts
 * Base
 * Mixins
 * Grouping
 * Layout
 * Typography
 * Navigation
 * Forms
 * Messaging
 * Tables
 * Section Specific
 * Page Specific
 * Media Queries
 * Internet Explorer
 * Print Styles
 */

/* = Colors = */
$background: #fcfcfc;
$text: #555;
$selection: #fff6b5;

$darkgray: #1a1a1a;
$midgray: #2a2a2a;
$lightgray: #ccc;
$lightestgray: #e9e9e9;
$white: #fcfcfc;

$textgray: #888;
$textprimary: #f2006d;
$textsecondary: #0096d2;
$textsecondarylit: #13abe8;
$textsecondaryfocused: #0084b8;

$success: #ecfae8;
$error: #ffd7d7;
$info: #bde5f8;

/* = Web Fonts = */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);


/* = Base = */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, cite,
code, dd, div, dl, dt, em, fieldset, footer, form, h1, h2, h3, h4, h5, h6,
header, html, i, iframe, img, label, li, nav, object, ol, p, pre, section,
span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, footer, header, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

img {
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: middle;
}

html {
	background: $darkgray;
	color: $text;
	font-family:  Arial, Helvetica, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: $white;
	font-size: 16px;
	line-height: 1.5;
	min-width: 310px;
}

::-moz-selection {
	background: $selection;
	text-shadow: none;
}

::selection {
	background: $selection;
	text-shadow: none;
}


/* = Mixins = */
@mixin grouping {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin columns {
	display: table;
	table-layout: fixed;
	width: 100%;

	> * {
		display: table-cell;
		width: 100%;
	}
}

@mixin for-tablets {
	@media only screen and (min-width: 640px) {
		@content;
	}

	html.lt-ie9 {
		@content;
	}
}

@mixin for-desktops {
	@media only screen and (min-width: 800px) {
		@content;
	}

	html.lt-ie9 {
		@content;
	}
}

/* = Grouping = */
.group,
.container {
	@include grouping;
}

.columns {
	@include columns;
}


/* = Layout = */
header.primary,
.torso,
footer.primary {
	position: relative;
	margin-bottom: 2.5em;
}

header.primary {
	background: $darkgray;

	.branding {
		padding: 1.5em 16px;

		h1 {
			margin: 0;

			a {
				color: $white;
			}
		}
	}
}

.torso {
	.main,
	aside.primary {
		padding-left: 16px;
		padding-right: 16px;

		article {
			.meta {
				color: $textgray;
				font-size: .875em;
				margin-top: -.5em;
				margin-bottom: 1em;
			}
		}
	}

	.main {
		article,
		section {
			margin-bottom: 3em;
		}

		aside {
			background: $white;
			border-radius: 5px;
			color: $textgray;
			float: right;
			font-size: .875em;
			line-height: 1.43em;
			margin-bottom: 1.333em;
			margin-left: 1.333em;
			padding: 1.333em;
			text-shadow: 0px 1px 0px #fff;
			width: 33.33%;
		}
	}

	aside.primary {
		article,
		section {
			margin-bottom: 1.5em;
		}
	}
}

footer.primary {
	background: $darkgray;
	color: $textgray;
	font-size: 0.875em;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	margin-bottom: 0;
}


/* = Typography = */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	color: $textprimary;
	font-size: 3em;
	line-height: 1.2;
	margin-top: 1.67em;
	margin-bottom: .5em;
}

h2 {
	font-size: 2.5em;
	line-height: 1.2;
	margin-top: 1.2em;
	margin-bottom: .4em;
}
	h1 + h2 {
		margin-top: -.2em;
	}

h3 {
	font-size: 1.5em;
	line-height: 1.3;
	margin-top: 1.8em;
	margin-bottom: .4em;
}
	h2 + h3 {
		margin-top: -.4em;
		margin-bottom: .2em;
	}

h4 {
	font-size: 1.25em;
	line-height: 1.4;
	margin-top: 1.8em;
	margin-bottom: .4em;
}
	h3 + h4 {
		margin-top: -.3em;
	}

h5 {
	font-size: 1em;
	margin-top: 1.8em;
	margin-bottom: .4em;
}
	h4 + h5 {
		margin-top: -.3em;
	}
h6 {
	font-size: .9em;
	margin-top: 1.8em;
	margin-bottom: .4em;
}
	h5 + h6 {
		margin-top: -.2em;
	}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}

blockquote,
pre {
	@include grouping;
	color: $textgray;
	margin-bottom: 1.5em;
}

blockquote {
	font-style: italic;
	border-left: 1px solid $lightgray;
	margin-left: 2em;
	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.main {
	.intro {
		border-bottom: 1px solid $lightgray;
		margin-bottom: 2.5em;
		padding-bottom: 1.5em;

		p {
			color: $textgray;
			font-size: 1.25em;
			line-height: 1.6;
			margin-bottom: .8em;
		}
	}

	.highlight {
		background: $lightestgray;
		border-radius: 5px;
		color: $textgray;
		font-size: 1.5em;
		line-height: 1.34;
		margin-bottom: 1em;
		padding: .67em;
		text-shadow: 0px 1px 0px #fff;

		p {
			margin-bottom: 0;
		}
	}
}

pre,
code {
	font-family: Menlo, 'Ubuntu Mono', Consolas, 'Courier New', monospace;
	font-size: .9em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}


p {
	margin-bottom: 1.5em;
}

address {
	margin-bottom: 1.5em;
}

hr {
	border: 0;
	border-top: 1px solid $textgray;
	display: block;
	height: 0;
	margin: 2em auto 3em;
	width: 75%;
}

a {
	color: $textsecondary;
	text-decoration: none;

	&:visited {
		color: $textsecondary
	}

	&:hover,
	&:active {
		color: $textgray;
		outline: 0;
	}

	&:focus {
		outline: thin dotted;
	}
}

ol,
ul,
dl {
	margin-bottom: 1.5em;
}

ol,
ul {
	padding-left: 2em;

	li,
	dt,
	dd {
		margin-bottom: .5em;
	}
}

ul {
	list-style: disc;
}

dt {
	font-weight: bold;
	padding-left: .5em;
}

dd {
	padding-left: 2em;
}

sup,
sub {
	font-size: 80%;
}

sup {
	vertical-align: top;
}

sub {
	vertical-align: bottom;
}


/* = Navigation = */
nav {
	ul {
		@include grouping;

		list-style: none;
		margin-bottom: 0;
		padding-left: 0;

		li {
			display: block;
			margin-bottom: 0;

			a {
				display: block;
			}
		}
	}
}

header.primary,
header.secondary {
	nav {
		ul {
			margin-bottom: 1em;

			li {
				padding-left: 1em;

				a,
				a:visited {
					color: $textgray;
				}
				
				a:hover {
					color: $white;
				}

				ul {
					li {
						float: left;

						a {
							font-size: .75em;
							line-height: 1.34;
							padding: .33em 1em .33em;
						}
					}
				}
			}
		}
	}

	nav.primary {
		ul {
			li.active {
				background: $midgray;
			}
		}

		> ul {
			> li {
				margin-bottom: 1em;

				> a {
					color: $lightgray;
					font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
					white-space: nowrap;
				}
				> a:hover {
					color: $white;
				}
			}
			> li.active {
				> a {
					color: $textsecondary;
				}
			}
		}
	}

	nav.utility {
		display: none;
		ul {
			li {
				a {
					font-size: .75em;
					line-height: 2;
					padding-left: .667em;
					padding-right: .667em;
				}
			}
		}
	}

	nav.secondary {
		display: none;
	}
}

aside {
	nav {
		> ul {
			li {
				a {
					padding-top: .5em;
					padding-bottom: .5em;
				}

				a:hover {
					color: $text;
				}


				ul {
					li {
						a {
							color: $textgray;
							font-size: .75em;
							line-height: 1.34;
							padding-top: .333em;
							padding-bottom: .333em;
						}
					}

					li:last-child {
						a {
							padding-top: .333em;
							padding-bottom: 1em;
						}
					}
				}
			}

			> li {
				border-top: 1px solid $lightgray;
			}

			> li:first-child {
				border-top: none;
			}
		}
	}
}

/* = Forms = */
button,
input,
select,
textarea {
	font-size: 100%;
}

.button,
.checkboxes,
.file,
.password,
.radios,
.reset,
.select,
.submit,
.text,
.textarea {
	margin-bottom: 1.5em;
}

label {
	color: #333;
	cursor: pointer;
	display: block;
	font-weight: bold;
	line-height: 2;
}

span.required {
	color: #ac181b;
}

fieldset .help {
	color: $textgray;
	display: block;
	font-size: .75em;
	line-height: 1.34;
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="password"],
textarea {
	border-radius: 2px;
	border: 0;
	box-shadow: 0 1px 4px 0 #848484 inset;
	color: #333;
	display: block;
	font-size: 1em;
	line-height: 2;
	margin: 0;
	padding-left: 1%;
	padding-right: 1%;
	width: 98%;
}

select {
	margin-bottom: 0;
}
.multiple select {
	padding-left: 5px;
	padding-right: 10px;
}

textarea {
	height: 12em;
	overflow: auto;
	resize: vertical;
}

.radio,
.checkbox {
	font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="file"] {
	color: #333;
	display: block;
	font-size: 1em;
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
	background: $textsecondary;
	border-radius: 3px;
	border: none;
	color: #fff;
	display: inline-block;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 1;
	margin-bottom: .5em;
	margin-right: .5em;
	padding: .5em .5em;
	text-align: center;

	&:hover {
		background: $textsecondarylit;
		cursor: pointer;
	}

	&:focus {
		background: $textsecondaryfocused;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* = Messaging = */

.messaging {
	border-radius: 5px;
	margin-bottom: 1.5em;
	padding: 1em 3.25em;
	position: relative;
	
	a {
		text-decoration: underline;
	}

	&:before {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAABFCAYAAAChbH1cAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA5FJREFUeNrsWG9klVEYv/fuirFc3ZSxLJsRq2vLZYlL2fpQSpG0qU8jSynNqJbbt8bWKEsfpsSITf+UEku1NEWWImaXWMVIaZQxxpj1PPmd6+k4O+e8995J3Ief+77vPe/vnPd5nvP8OeHFxcXQckl4Ocmjmfp6n3EbCE8JKwithCc+L0U8F3GDUEkoJwwSygpFfoiQEvdxQroQ5LzCXlzPEqZw3UGoyZf8FKGC8JGwjrCe0A/d9+VDzqSduB4lzOD6Nn53E7blSt4rDLcgnstrXn1JUPIUDOkS9uO2oOR9AfZKFyHmS84rTgYgjwvbWMml6wURo2vq5Gl4iS7l4trk30bXDE/U1cmXJjDQJP1wxxOW7d9EeGFaeZeFWK1uRvi7SS5J14wI12u2vPSMcITQQzjq65oRzHTVYbCYZnSXa8YVeQdmtEkD4RVC7zUP1+xVBv1Mv1UFTkIcQdeG/9scWiQ3lxZ/dtDAD9N/pdhYnHG2ajGHc+kblBicmeZ8Q24Jcuc3wgDhgCGYVWLiAYxLm0JHxLABRhDhYp5fH8OufIdJjeQ887Ar6VokQRiTITmiRbQGB8EvwsGlMg/i/kPYK0teZUu0Qt4T7hIuWsbUwmZZ8jZHLFeyA2H3jmPcaV59FDc+Cfk5Vp7EJK7ImIoacqSNWOn6E6HaVXYrtcx7qOOsuF/l8aWlijzjaUylQh/y74r8kafOQx76VjKqyB8QPniS+xify4upiKhc27UKVhdF2unwc+Y4n42KogY/bknAPVBJtcNTziBi/kXOcp3wk3BTbWGD19jkAuGyLeTeI2wUHUQQeelTn38htBBWEw7D4LPaGFMKSwdpuFhFQ4T9hJWcFgU2GbJQoywLo3mkyAy+rgwddhIZa7JYWvxj8i0jiXx5EvCUK3wz1jQe6Egk5Gjjh1GOPFaFfyHIYyCuEOcBg4Ug59hzHypR8hW9U17kXPLdgp6VcJe3CxPkRc4N2l5xP48QMZ7LGZcUThbHtGetsrnNlZwPHbq1Z+cQ3LxK6NoliBtRMuste4/veUsz+v9u7QQoAc+QJR9XDCd9j6GSYmWd2BAxsUlkvf4W4XbB2baQrJGlL2QnCvo5rbPgeL1nqVbFtPIZpDJdarRNMg1fnvaxvqwVWX/7LEcec1jxpK9r6QZlI21WdYe2SVqg61Cu5Crzb9dcrNWznjQaNGRYKW+O19D7UDGHFkx+CzAA6nHUdfvIb58AAAAASUVORK5CYII=);
		background-position: 0 0;
		background-repeat: no-repeat;
		content:'';
		display: block;
		height: 23px;
		left: 1em;
		position: absolute;
		top: 1em;
		width: 23px;
	}
}

.success {
	background: $success;

	&:before {
		background-position: 0 -46px;
	}
}

.error {
	background: $error;

	&:before {
		background-position: 0 0;
	}
}

.info {
	background: $info;

	&:before {
		background-position: 0 -23px;
	}
}

/* = Tables = */
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.5em;
	width: 100%;

	caption {
		font-size: .75em;
	}

	td,
	th {
		padding: .25em 8px;
		text-align: left;
		vertical-align: top;
	}

	th {
		font-weight: bold;
	}

	thead {
		th {
			border-bottom: 1px solid $textgray;
		}
	}
}

/* = Section Specific = */


/* = Page Specific = */


/* = Media Queries = */
@include for-tablets {

	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
		padding-left: 16px;
		padding-right: 16px;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	blockquote {
		margin-left: 3em;
		margin-right: 3em;
	}

	header.primary,
	header.secondary {
		> .container {
			position: relative;
		}

		nav {
			position: relative;

			ul {
				margin-bottom: 0;

				li {
					padding-left: 0;
					float: left;

					ul {
						li {
							float: none;
							a {
								padding-left: 0;
								line-height: 2;
							}
						}
					}
				}
			}

			> ul {
				> li {
					position: relative;

					> a {
						padding: .25em 16px;
					}

					.dropdown {
						box-shadow: 0 3px 5px 0px $darkgray;
						display: none;
						position: absolute;
						left: 0;
						background: $midgray;
						z-index: 1;
						padding-left: 16px;
						padding-right: 16px;
						min-width: 192px;
						-ms-box-sizing: border-box;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
					}
				}

				> li:hover {
					.dropdown {
						display: block;
					}
				}

				> li:first-child {
					padding-left: 0;
					margin-left: -16px;
				}
			}
		}

		nav.primary {
			ul {
				li {
					margin-bottom: 0;
				}

				li.active {
					background: none;
				}

				li:hover {
					a {
						background: $midgray;
					}
				}
			}
		}

		nav.secondary {
			display: block;
			background: $midgray;

			ul {
				li {
					float: left;

					a {
						font-size: .75em;
						padding: 0 12px;
						line-height: 2.67;
					}
				}

				li.active {
					a {
						color: $white;
					}
				}
			}
		}

		nav.utility {
			display: block;
			position: absolute;
			top: 1em;
			right: 32px;
		}
	}

	header.primary {
		.branding {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@include for-desktops {
	
	.torso {
		.main {
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			float: left;
			padding-right: 0;
			padding-left: 0;
			width: 76%;
		}

		aside.primary {
			width: 24%;
			float: right;
			-ms-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
}

/* IE Specific */
html.lt-ie8 {
	.group,
	.container {
		zoom: 1;
	}

	button,
	input,
	select,
	textarea {
		vertical-align: middle;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		overflow: visible;
	}

	input[type="checkbox"],
	input[type="radio"] {
		height: 13px;
		width: 13px;
	}
}

@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: '';
	}

	pre,
	blockquote {
		border: 1px solid $textgray;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
