/* = Table of Contents =
 * Colors
 * Web Fonts
 * Base
 * Mixins
 * Grouping
 * Layout
 * Typography
 * Navigation
 * Forms
 * Messaging
 * Tables
 * Section Specific
 * Page Specific
 * Media Queries
 * Internet Explorer
 * Print Styles
 */

/* = Colors = */

/* = Web Fonts = */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* = Base = */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, cite,
code, dd, div, dl, dt, em, fieldset, footer, form, h1, h2, h3, h4, h5, h6,
header, html, i, iframe, img, label, li, nav, object, ol, p, pre, section,
span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, footer, header, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

img {
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: middle;
}

html {
	background: #1a1a1a;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background: #fcfcfc;
	font-size: 16px;
	line-height: 1.5;
	min-width: 310px;
}

::-moz-selection {
	background: #fff6b5;
	text-shadow: none;
}

::selection {
	background: #fff6b5;
	text-shadow: none;
}

/* = Mixins = */

/* = Grouping = */
.group:before, .group:after,
.container:before,
.container:after {
	content: '';
	display: table;
}
.group:after,
.container:after {
	clear: both;
}

.columns {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.columns > * {
	display: table-cell;
	width: 100%;
}

/* = Layout = */
header.primary,
.torso,
footer.primary {
	position: relative;
	margin-bottom: 2.5em;
}

header.primary {
	background: #1a1a1a;
}
header.primary .branding {
	padding: 1.5em 16px;
}
header.primary .branding h1 {
	margin: 0;
}
header.primary .branding h1 a {
	color: #fcfcfc;
}

.torso .main,
.torso aside.primary {
	padding-left: 16px;
	padding-right: 16px;
}
.torso .main article .meta,
.torso aside.primary article .meta {
	color: #888888;
	font-size: .875em;
	margin-top: -.5em;
	margin-bottom: 1em;
}
.torso .main article,
.torso .main section {
	margin-bottom: 3em;
}
.torso .main aside {
	background: #fcfcfc;
	border-radius: 5px;
	color: #888888;
	float: right;
	font-size: .875em;
	line-height: 1.43em;
	margin-bottom: 1.333em;
	margin-left: 1.333em;
	padding: 1.333em;
	text-shadow: 0px 1px 0px #fff;
	width: 33.33%;
}
.torso aside.primary article,
.torso aside.primary section {
	margin-bottom: 1.5em;
}

footer.primary {
	background: #1a1a1a;
	color: #888888;
	font-size: 0.875em;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	margin-bottom: 0;
}

/* = Typography = */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

h1 {
	color: #f2006d;
	font-size: 3em;
	line-height: 1.2;
	margin-top: 1.67em;
	margin-bottom: .5em;
}

h2 {
	font-size: 2.5em;
	line-height: 1.2;
	margin-top: 1.2em;
	margin-bottom: .4em;
}

h1 + h2 {
	margin-top: -.2em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.3;
	margin-top: 1.8em;
	margin-bottom: .4em;
}

h2 + h3 {
	margin-top: -.4em;
	margin-bottom: .2em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.4;
	margin-top: 1.8em;
	margin-bottom: .4em;
}

h3 + h4 {
	margin-top: -.3em;
}

h5 {
	font-size: 1em;
	margin-top: 1.8em;
	margin-bottom: .4em;
}

h4 + h5 {
	margin-top: -.3em;
}

h6 {
	font-size: .9em;
	margin-top: 1.8em;
	margin-bottom: .4em;
}

h5 + h6 {
	margin-top: -.2em;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}

blockquote,
pre {
	color: #888888;
	margin-bottom: 1.5em;
}
blockquote:before, blockquote:after,
pre:before,
pre:after {
	content: '';
	display: table;
}
blockquote:after,
pre:after {
	clear: both;
}

blockquote {
	font-style: italic;
	border-left: 1px solid #cccccc;
	margin-left: 2em;
	margin-right: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.main .intro {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 2.5em;
	padding-bottom: 1.5em;
}
.main .intro p {
	color: #888888;
	font-size: 1.25em;
	line-height: 1.6;
	margin-bottom: .8em;
}
.main .highlight {
	background: #e9e9e9;
	border-radius: 5px;
	color: #888888;
	font-size: 1.5em;
	line-height: 1.34;
	margin-bottom: 1em;
	padding: .67em;
	text-shadow: 0px 1px 0px #fff;
}
.main .highlight p {
	margin-bottom: 0;
}

pre,
code {
	font-family: Menlo, 'Ubuntu Mono', Consolas, 'Courier New', monospace;
	font-size: .9em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

p {
	margin-bottom: 1.5em;
}

address {
	margin-bottom: 1.5em;
}

hr {
	border: 0;
	border-top: 1px solid #888888;
	display: block;
	height: 0;
	margin: 2em auto 3em;
	width: 75%;
}

a {
	color: #0096d2;
	text-decoration: none;
}
a:visited {
	color: #0096d2;
}
a:hover, a:active {
	color: #888888;
	outline: 0;
}
a:focus {
	outline: thin dotted;
}

ol,
ul,
dl {
	margin-bottom: 1.5em;
}

ol,
ul {
	padding-left: 2em;
}
ol li,
ol dt,
ol dd,
ul li,
ul dt,
ul dd {
	margin-bottom: .5em;
}

ul {
	list-style: disc;
}

dt {
	font-weight: bold;
	padding-left: .5em;
}

dd {
	padding-left: 2em;
}

sup,
sub {
	font-size: 80%;
}

sup {
	vertical-align: top;
}

sub {
	vertical-align: bottom;
}

/* = Navigation = */
nav ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
nav ul:before, nav ul:after {
	content: '';
	display: table;
}
nav ul:after {
	clear: both;
}
nav ul li {
	display: block;
	margin-bottom: 0;
}
nav ul li a {
	display: block;
}

header.primary nav ul,
header.secondary nav ul {
	margin-bottom: 1em;
}
header.primary nav ul li,
header.secondary nav ul li {
	padding-left: 1em;
}
header.primary nav ul li a,
header.primary nav ul li a:visited,
header.secondary nav ul li a,
header.secondary nav ul li a:visited {
	color: #888888;
}
header.primary nav ul li a:hover,
header.secondary nav ul li a:hover {
	color: #fcfcfc;
}
header.primary nav ul li ul li,
header.secondary nav ul li ul li {
	float: left;
}
header.primary nav ul li ul li a,
header.secondary nav ul li ul li a {
	font-size: .75em;
	line-height: 1.34;
	padding: .33em 1em .33em;
}
header.primary nav.primary ul li.active,
header.secondary nav.primary ul li.active {
	background: #2a2a2a;
}
header.primary nav.primary > ul > li,
header.secondary nav.primary > ul > li {
	margin-bottom: 1em;
}
header.primary nav.primary > ul > li > a,
header.secondary nav.primary > ul > li > a {
	color: #cccccc;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: nowrap;
}
header.primary nav.primary > ul > li > a:hover,
header.secondary nav.primary > ul > li > a:hover {
	color: #fcfcfc;
}
header.primary nav.primary > ul > li.active > a,
header.secondary nav.primary > ul > li.active > a {
	color: #0096d2;
}
header.primary nav.utility,
header.secondary nav.utility {
	display: none;
}
header.primary nav.utility ul li a,
header.secondary nav.utility ul li a {
	font-size: .75em;
	line-height: 2;
	padding-left: .667em;
	padding-right: .667em;
}
header.primary nav.secondary,
header.secondary nav.secondary {
	display: none;
}

aside nav > ul li a {
	padding-top: .5em;
	padding-bottom: .5em;
}
aside nav > ul li a:hover {
	color: #555555;
}
aside nav > ul li ul li a {
	color: #888888;
	font-size: .75em;
	line-height: 1.34;
	padding-top: .333em;
	padding-bottom: .333em;
}
aside nav > ul li ul li:last-child a {
	padding-top: .333em;
	padding-bottom: 1em;
}
aside nav > ul > li {
	border-top: 1px solid #cccccc;
}
aside nav > ul > li:first-child {
	border-top: none;
}

/* = Forms = */
button,
input,
select,
textarea {
	font-size: 100%;
}

.button,
.checkboxes,
.file,
.password,
.radios,
.reset,
.select,
.submit,
.text,
.textarea {
	margin-bottom: 1.5em;
}

label {
	color: #333;
	cursor: pointer;
	display: block;
	font-weight: bold;
	line-height: 2;
}

span.required {
	color: #ac181b;
}

fieldset .help {
	color: #888888;
	display: block;
	font-size: .75em;
	line-height: 1.34;
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="password"],
textarea {
	border-radius: 2px;
	border: 0;
	box-shadow: 0 1px 4px 0 #848484 inset;
	color: #333;
	display: block;
	font-size: 1em;
	line-height: 2;
	margin: 0;
	padding-left: 1%;
	padding-right: 1%;
	width: 98%;
}

select {
	margin-bottom: 0;
}

.multiple select {
	padding-left: 5px;
	padding-right: 10px;
}

textarea {
	height: 12em;
	overflow: auto;
	resize: vertical;
}

.radio,
.checkbox {
	font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="file"] {
	color: #333;
	display: block;
	font-size: 1em;
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
	background: #0096d2;
	border-radius: 3px;
	border: none;
	color: #fff;
	display: inline-block;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 1;
	margin-bottom: .5em;
	margin-right: .5em;
	padding: .5em .5em;
	text-align: center;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover {
	background: #13abe8;
	cursor: pointer;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
a.button:focus {
	background: #0084b8;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* = Messaging = */
.messaging {
	border-radius: 5px;
	margin-bottom: 1.5em;
	padding: 1em 3.25em;
	position: relative;
}
.messaging a {
	text-decoration: underline;
}
.messaging:before {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAABFCAYAAAChbH1cAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA5FJREFUeNrsWG9klVEYv/fuirFc3ZSxLJsRq2vLZYlL2fpQSpG0qU8jSynNqJbbt8bWKEsfpsSITf+UEku1NEWWImaXWMVIaZQxxpj1PPmd6+k4O+e8995J3Ief+77vPe/vnPd5nvP8OeHFxcXQckl4Ocmjmfp6n3EbCE8JKwithCc+L0U8F3GDUEkoJwwSygpFfoiQEvdxQroQ5LzCXlzPEqZw3UGoyZf8FKGC8JGwjrCe0A/d9+VDzqSduB4lzOD6Nn53E7blSt4rDLcgnstrXn1JUPIUDOkS9uO2oOR9AfZKFyHmS84rTgYgjwvbWMml6wURo2vq5Gl4iS7l4trk30bXDE/U1cmXJjDQJP1wxxOW7d9EeGFaeZeFWK1uRvi7SS5J14wI12u2vPSMcITQQzjq65oRzHTVYbCYZnSXa8YVeQdmtEkD4RVC7zUP1+xVBv1Mv1UFTkIcQdeG/9scWiQ3lxZ/dtDAD9N/pdhYnHG2ajGHc+kblBicmeZ8Q24Jcuc3wgDhgCGYVWLiAYxLm0JHxLABRhDhYp5fH8OufIdJjeQ887Ar6VokQRiTITmiRbQGB8EvwsGlMg/i/kPYK0teZUu0Qt4T7hIuWsbUwmZZ8jZHLFeyA2H3jmPcaV59FDc+Cfk5Vp7EJK7ImIoacqSNWOn6E6HaVXYrtcx7qOOsuF/l8aWlijzjaUylQh/y74r8kafOQx76VjKqyB8QPniS+xify4upiKhc27UKVhdF2unwc+Y4n42KogY/bknAPVBJtcNTziBi/kXOcp3wk3BTbWGD19jkAuGyLeTeI2wUHUQQeelTn38htBBWEw7D4LPaGFMKSwdpuFhFQ4T9hJWcFgU2GbJQoywLo3mkyAy+rgwddhIZa7JYWvxj8i0jiXx5EvCUK3wz1jQe6Egk5Gjjh1GOPFaFfyHIYyCuEOcBg4Ug59hzHypR8hW9U17kXPLdgp6VcJe3CxPkRc4N2l5xP48QMZ7LGZcUThbHtGetsrnNlZwPHbq1Z+cQ3LxK6NoliBtRMuste4/veUsz+v9u7QQoAc+QJR9XDCd9j6GSYmWd2BAxsUlkvf4W4XbB2baQrJGlL2QnCvo5rbPgeL1nqVbFtPIZpDJdarRNMg1fnvaxvqwVWX/7LEcec1jxpK9r6QZlI21WdYe2SVqg61Cu5Crzb9dcrNWznjQaNGRYKW+O19D7UDGHFkx+CzAA6nHUdfvIb58AAAAASUVORK5CYII=);
	background-position: 0 0;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 23px;
	left: 1em;
	position: absolute;
	top: 1em;
	width: 23px;
}

.success {
	background: #ecfae8;
}
.success:before {
	background-position: 0 -46px;
}

.error {
	background: #ffd7d7;
}
.error:before {
	background-position: 0 0;
}

.info {
	background: #bde5f8;
}
.info:before {
	background-position: 0 -23px;
}

/* = Tables = */
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.5em;
	width: 100%;
}
table caption {
	font-size: .75em;
}
table td,
table th {
	padding: .25em 8px;
	text-align: left;
	vertical-align: top;
}
table th {
	font-weight: bold;
}
table thead th {
	border-bottom: 1px solid #888888;
}

/* = Section Specific = */

/* = Page Specific = */

/* = Media Queries = */
@media only screen and (min-width: 640px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
		padding-left: 16px;
		padding-right: 16px;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	blockquote {
		margin-left: 3em;
		margin-right: 3em;
	}

	header.primary > .container,
	header.secondary > .container {
		position: relative;
	}
	header.primary nav,
	header.secondary nav {
		position: relative;
	}
	header.primary nav ul,
	header.secondary nav ul {
		margin-bottom: 0;
	}
	header.primary nav ul li,
	header.secondary nav ul li {
		padding-left: 0;
		float: left;
	}
	header.primary nav ul li ul li,
	header.secondary nav ul li ul li {
		float: none;
	}
	header.primary nav ul li ul li a,
	header.secondary nav ul li ul li a {
		padding-left: 0;
		line-height: 2;
	}
	header.primary nav > ul > li,
	header.secondary nav > ul > li {
		position: relative;
	}
	header.primary nav > ul > li > a,
	header.secondary nav > ul > li > a {
		padding: .25em 16px;
	}
	header.primary nav > ul > li .dropdown,
	header.secondary nav > ul > li .dropdown {
		box-shadow: 0 3px 5px 0px #1a1a1a;
		display: none;
		position: absolute;
		left: 0;
		background: #2a2a2a;
		z-index: 1;
		padding-left: 16px;
		padding-right: 16px;
		min-width: 192px;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	header.primary nav > ul > li:hover .dropdown,
	header.secondary nav > ul > li:hover .dropdown {
		display: block;
	}
	header.primary nav > ul > li:first-child,
	header.secondary nav > ul > li:first-child {
		padding-left: 0;
		margin-left: -16px;
	}
	header.primary nav.primary ul li,
	header.secondary nav.primary ul li {
		margin-bottom: 0;
	}
	header.primary nav.primary ul li.active,
	header.secondary nav.primary ul li.active {
		background: none;
	}
	header.primary nav.primary ul li:hover a,
	header.secondary nav.primary ul li:hover a {
		background: #2a2a2a;
	}
	header.primary nav.secondary,
	header.secondary nav.secondary {
		display: block;
		background: #2a2a2a;
	}
	header.primary nav.secondary ul li,
	header.secondary nav.secondary ul li {
		float: left;
	}
	header.primary nav.secondary ul li a,
	header.secondary nav.secondary ul li a {
		font-size: .75em;
		padding: 0 12px;
		line-height: 2.67;
	}
	header.primary nav.secondary ul li.active a,
	header.secondary nav.secondary ul li.active a {
		color: #fcfcfc;
	}
	header.primary nav.utility,
	header.secondary nav.utility {
		display: block;
		position: absolute;
		top: 1em;
		right: 32px;
	}

	header.primary .branding {
		padding-left: 0;
		padding-right: 0;
	}
}
html.lt-ie9 .container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding-left: 16px;
	padding-right: 16px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html.lt-ie9 blockquote {
	margin-left: 3em;
	margin-right: 3em;
}
html.lt-ie9 header.primary > .container,
html.lt-ie9 header.secondary > .container {
	position: relative;
}
html.lt-ie9 header.primary nav,
html.lt-ie9 header.secondary nav {
	position: relative;
}
html.lt-ie9 header.primary nav ul,
html.lt-ie9 header.secondary nav ul {
	margin-bottom: 0;
}
html.lt-ie9 header.primary nav ul li,
html.lt-ie9 header.secondary nav ul li {
	padding-left: 0;
	float: left;
}
html.lt-ie9 header.primary nav ul li ul li,
html.lt-ie9 header.secondary nav ul li ul li {
	float: none;
}
html.lt-ie9 header.primary nav ul li ul li a,
html.lt-ie9 header.secondary nav ul li ul li a {
	padding-left: 0;
	line-height: 2;
}
html.lt-ie9 header.primary nav > ul > li,
html.lt-ie9 header.secondary nav > ul > li {
	position: relative;
}
html.lt-ie9 header.primary nav > ul > li > a,
html.lt-ie9 header.secondary nav > ul > li > a {
	padding: .25em 16px;
}
html.lt-ie9 header.primary nav > ul > li .dropdown,
html.lt-ie9 header.secondary nav > ul > li .dropdown {
	box-shadow: 0 3px 5px 0px #1a1a1a;
	display: none;
	position: absolute;
	left: 0;
	background: #2a2a2a;
	z-index: 1;
	padding-left: 16px;
	padding-right: 16px;
	min-width: 192px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html.lt-ie9 header.primary nav > ul > li:hover .dropdown,
html.lt-ie9 header.secondary nav > ul > li:hover .dropdown {
	display: block;
}
html.lt-ie9 header.primary nav > ul > li:first-child,
html.lt-ie9 header.secondary nav > ul > li:first-child {
	padding-left: 0;
	margin-left: -16px;
}
html.lt-ie9 header.primary nav.primary ul li,
html.lt-ie9 header.secondary nav.primary ul li {
	margin-bottom: 0;
}
html.lt-ie9 header.primary nav.primary ul li.active,
html.lt-ie9 header.secondary nav.primary ul li.active {
	background: none;
}
html.lt-ie9 header.primary nav.primary ul li:hover a,
html.lt-ie9 header.secondary nav.primary ul li:hover a {
	background: #2a2a2a;
}
html.lt-ie9 header.primary nav.secondary,
html.lt-ie9 header.secondary nav.secondary {
	display: block;
	background: #2a2a2a;
}
html.lt-ie9 header.primary nav.secondary ul li,
html.lt-ie9 header.secondary nav.secondary ul li {
	float: left;
}
html.lt-ie9 header.primary nav.secondary ul li a,
html.lt-ie9 header.secondary nav.secondary ul li a {
	font-size: .75em;
	padding: 0 12px;
	line-height: 2.67;
}
html.lt-ie9 header.primary nav.secondary ul li.active a,
html.lt-ie9 header.secondary nav.secondary ul li.active a {
	color: #fcfcfc;
}
html.lt-ie9 header.primary nav.utility,
html.lt-ie9 header.secondary nav.utility {
	display: block;
	position: absolute;
	top: 1em;
	right: 32px;
}
html.lt-ie9 header.primary .branding {
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (min-width: 800px) {
	.torso .main {
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		padding-right: 0;
		padding-left: 0;
		width: 76%;
	}
	.torso aside.primary {
		width: 24%;
		float: right;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html.lt-ie9 .torso .main {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding-right: 0;
	padding-left: 0;
	width: 76%;
}
html.lt-ie9 .torso aside.primary {
	width: 24%;
	float: right;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* IE Specific */
html.lt-ie8 .group,
html.lt-ie8 .container {
	zoom: 1;
}
html.lt-ie8 button,
html.lt-ie8 input,
html.lt-ie8 select,
html.lt-ie8 textarea {
	vertical-align: middle;
}
html.lt-ie8 button,
html.lt-ie8 input[type="button"],
html.lt-ie8 input[type="reset"],
html.lt-ie8 input[type="submit"] {
	overflow: visible;
}
html.lt-ie8 input[type="checkbox"],
html.lt-ie8 input[type="radio"] {
	height: 13px;
	width: 13px;
}

@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		/* Black prints faster: h5bp.com/s */
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: '';
	}

	pre,
	blockquote {
		border: 1px solid #888888;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
