/* = Table of Contents =

 * Web Fonts
 * Base
 * Grouping
 * Layout
 * Typography
 * Navigation
 * Forms
 * Messaging
 * Tables
 * Section Specific
 * Page Specific
 * Media Queries
 * Internet Explorer
 * Print Styles
 */

/* = Web Fonts = */


/* = Base = */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, cite,
code, dd, div, dl, dt, em, fieldset, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, label, li, nav, object, ol, p, pre,
section, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul,
video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, footer, header, hgroup, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

img {
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: middle;
}

html {
	background: #fff;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 16px;
	line-height: 1.5;
	min-width: 310px;
}

::-moz-selection {
	background: #bbb;
	text-shadow: none;
}

::selection {
	background: #bbb;
	text-shadow: none;
}


/* = Grouping = */
.group:before,
.group:after {
	content: '';
	display: table;
}

.group:after {
	clear: both;
}

.columns {
	display: table;
	table-layout: fixed;
	width: 100%;
}
	.columns > div {
		display: table-cell;
	}


/* = Layout = */
header.primary,
.torso,
footer.primary {
	position: relative;
}

header.primary,
.torso,
footer.primary {
	margin: 0 0 2.5em;
}

.branding {
	padding: 1.75em 16px;
}
	.branding h1 {
		margin: 0;
	}

.main,
aside.primary {
	padding: 0 16px;
}

.main section,
article {
	margin: 0 0 3em;
}

	article .meta {
		color: #aaa;
		font-size: .875em;
		line-height: 1.71;
		margin: -1.71em 0 .57em;
	}

aside section {
	margin: 0 0 1.5em;
}

footer.primary {
	color: #999;
	font-size: 0.875em;
	text-align: center;
}


/* = Typography = */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0 0 0.6em;
}

h1 {
	font-size: 3em;
	line-height: 1.3;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5,
h6 {
	font-size: 1.3em;

}

hgroup h1:first-child,
hgroup h2:first-child,
hgroup h3:first-child,
hgroup h4:first-child,
hgroup h5:first-child,
hgroup h6:first-child {
	margin: 0 inherit;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}

blockquote,
pre {
	color: #666;
	clear: both;
	margin: 0 0 1.5em;
	padding: 0 1em;
}

blockquote {
	border-left: 8px solid #CCC;
	color: #666;
	font-size: 1.25em;
	margin: 0 0 1em 20px;
	padding: 0.8em 1em;
	font-style: italic;
}

.main .intro {
	box-shadow: 0 1px 0 0 #ddd;
	margin: 0 0 2.5em;
	padding: 0 0 1.5em;
}

	.intro p {
		color: #888;
		font-size: 1.25em;
		line-height: 1.6;
		margin: 0 0 .8em;
	}

.highlight {
	background: #E8E8E8;
	font-size: 1.375em; 
	margin: 0 0 1em;
	padding: .67em;
}

	.highlight p {
		margin: 0;
	}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre,
code {
	font-family: Menlo, 'Ubuntu Mono', Consolas, 'Courier New', monospace;
	font-size: 0.875em;
}

p {
	margin: 0 0 1.5em;
}

address {
	margin: 0 0 1em;
}

hr {
	border: 0;
	box-shadow: 0 1px 0 0px #999;
	display: block;
	height: 1em;
	margin: 1em auto 2em;
	width: 75%;
}

a {
	color: #0096d2;
	text-decoration: none;
}

a:visited {
	color: #0096d2;
}

a:hover,
a:active {
	color: #f2006d;
	outline: 0;
}

a:focus {
	outline: thin dotted;
}

ol,
ul {
	margin: 0 0 1.5em;
	padding: 0 0 0 2em;
}
li,
dt,
dd {
	margin: 0 0 .5em;
}

ul {
	list-style: square;
}

dl {
	margin: 0 0 1.5em;
}

dt {
	font-weight: bold;
	padding: 0 0 0 .5em;
}

dd {
	padding: 0 0 0 2em;
}

sup {
	vertical-align: top;
	font-size: 80%;
}

sub {
	vertical-align: bottom;
	font-size: 80%;
}

.main aside {
	background: #eee;
	color: #888;
	font-size: .875em;
	line-height: 1.43em;
	margin: 0 0 1.333em 1.333em;
	padding: 1.333em;
	width: 33.33%;
}


/* = Navigation = */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav a {
	display: block;
}

nav li {
	margin: 0;
}

nav li.active > a {
	font-weight: bold;
}

nav li {
	display: block;
	white-space: nowrap;
}

nav ul:after {
	clear: both;
	content: '';
	display: table;
}

	header nav li {
		float: left;
		position: relative;
		white-space: nowrap;
	}

	header nav li ul {
		position: absolute;
		display: none;
		width: 200px;
		left: 0;
		overflow: hidden;
	}

	header li:hover > ul {
		display: block;
	}

		header li li {
			float: none;
			min-width: 100%;
		}

/* == top primary navigation == */
header nav.primary {
	background: #333;
}

	header nav.primary > ul {
		margin: 0 auto;
		padding: 0;
		z-index: 2;
	}

	header nav.primary li.active {
		background: #F2006D;
	}

	header nav.primary a {
		color: #fff;
		padding: .25em 20px;
	}

		header nav.primary a:hover {
			background: #0096d2;
		}

		header nav.primary li ul {
			background: #333;
			font-size: .875em;
			z-index: 1;
		}
			header nav.primary li ul a {
				padding: .3em 20px;
			}
			

/* == top secondary navigation == */
header nav.secondary {
	background: #F2006D;
	font-size: .75em;
}
	header.primary nav.secondary > ul {
		margin: 0 auto;
	}
		header nav.secondary li.active {
			background: #AD004E;
		}

		header nav.secondary a {
			color: #FFF;
			padding: .5em 20px;
		}
		
			header nav.secondary a:hover {
				background: #555;
			}

			header nav.secondary li ul {
				background: #666;
				z-index: 1;
			}

				header nav.secondary li ul a {
					padding: .3em 16px;
				}


/* == aside secondary navigation == */
aside.primary nav.secondary {
	margin: 0 0 1em;
}

	aside.primary nav.secondary li {
		border-top: 1px solid #DDD;
	}
	aside.primary nav.secondary li:first-child {
		border: none;
	}

		aside.primary nav.secondary a {
			padding: .4em 0;
		}

		aside.primary nav.secondary a:hover {
			color: #222;
		}

			aside.primary nav.secondary ul {
				margin: 0 0 1em;
			}

				aside.primary nav.secondary ul ul {
					margin: 0 0 .5em;
				}

				aside.primary nav.secondary li li {
					border: none;
				}

				aside.primary nav.secondary li li a {
					font-size: .875em;
					padding: 0.2em 0;
				}


/* == utility navigation == */
header nav.utility {
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}
	header nav.utility > ul {
		position: relative;
	}

	header nav.utility a {
		float: none;
		font-size: .8125em;
		padding: 14px 5px 5px;
	}


/* = Forms = */
button,
input,
select,
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.button,
.checkboxes,
.file,
.password,
.radios,
.reset,
.select,
.submit,
.text,
.textarea {
	margin-bottom: 1.5em;
}

label {
	color: #333;
	cursor: pointer;
	display: block;
	font-weight: bold;
	line-height: 2;
	margin: 0;
}

span.required {
	color: #ac181b;
}

fieldset .help {
	color: #999;
	display: block;
	font-size: .75em;
	line-height: 1.34;
	margin: 0;
	padding: 0;
}

.radio,
.checkbox {
	font-weight: normal;
	margin: 0 0 .5em;
	padding: 0 0 0 .25em;
}

input[type="text"],
input[type="password"],
textarea {
	border-radius: 2px;
	border: 0;
	box-shadow: 0 1px 4px 0 #848484 inset;
	color: #333;
	display: block;
	font-size: 1em;
	line-height: 2;
	margin: 0;
	padding: 0 1%;
	width: 98%;
}

input[type="file"] {
	color: #333;
	display: block;
	font-size: 1em;
	line-height: 2;
	margin: 0;
	padding: 0;
	width: 100%;
}

textarea {
	height: 12em;
	overflow: auto;
	resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
	background: #0394cd;
	border-radius: 3px;
	border: none;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: .5em .5em;
	text-align: center;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover {
	background: #00709c;
	cursor: pointer;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
a.button:focus {
	background: #0084B8;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/* = Messaging = */
.messaging {
	border-radius: 3px;
	margin: 0 1em 1.5em;
	padding: 1em 3.25em;
	position: relative;
}

.messaging a {
	color: inherit;
	text-decoration: underline;
}

	.messaging:before {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAABFCAYAAAChbH1cAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QEQAh0Zl47LzAAAAuJJREFUWMPtmO9H3VEcx9/t5nK5ZNGMy7iJiBgxRkT2YESPNnEf7VHsUUSKnk00MSIuoz9gGqNEbItNjFhGbEYaEc0od5qItteenG87O31/nO+93x5s9eHwdb6f7+uc8zmfz+d8P0f6rwXoBHaAPeBu1vA1/sg+UMwKXOGsTGcBLgK7BnhoTANwDHQ0Cp80sM9Ai+mrmr7lRsAlM1uAp1Z/n2WevjjGlZh3M5KCjftp9dvPs0AuFRzolVTxWOBNScNpZz6bwoJTwX4kwoGKpJ4U8FZJE4lwExwzdez/aJhrujOflFQK+fi69Rzm3/lYUwIdJjiipApMW+4ZJv1RM58yM4iSvKTvpkXJkzOuCfQSLy8t3YEE3YenMzcjzSVsmO1qRQ/XbA1mMoafrAHzQM1Dd16SmoAvksoZny8/JF3TpVwcKUh6IOm5pF1JWG1H0jPzvpAGmpM0IqnmAKNazSS8vE9ufuMJddumpBtxiWm9TnDQ9iJSsuY8Pj6QdF/SeIzOR3cfypKOPeCv7GQa0/469qZTLP2xpIUEnX1JhWYD9zmQX0vaMLp3PByjtznkjIwDB8vdltSe8E1n8PDe0ySBHHjojgVn6CcPs2xYJrzqof81gC952lwe9g7krR3yHxKWGUAXPEyy6o7UJ+kk5oNxo9du3DFK70TS7bClDHsE0XaCzmicre5JOqoztzzy2Yyyyddp4f1pcnurKQJeSDp0QL98NrJe6TKrc004FCg0ZTBI0YR6j/n9XrIC7lL+0SuTbmDkPMAl6/Jh+fTHPwNwC7Dp/PivZAEuAKsOeBcoNQrOAYsOuAZ0ZzHrqgM+dmvQesETIQVWJQtw2H3XRBpAV0R/f0j5Xk0DHgpu3+wy2wSJW38uxt0SueAe4Mj2V+PHdpAEsg4UfMFtIQCArZAg2QLa0pgjD8x5lN3f6r5PBAZjavsj4Faj7lYG3oUEyWBWCSlvPCa7IAkZZOBc8vTFlt90PErGWW5fZgAAAABJRU5ErkJggg==);
		background-position: 0 0;
		background-repeat: no-repeat;
		content:'';
		display: block;
		height: 23px;
		left: 1em;
		position: absolute;
		top: 1em;
		width: 23px;
	}

	.error:before {
		background-position: 0 0;
	}

	.success:before {
		background-position: 0 -46px;
	}

	.info:before {
		background-position: 0 -23px;
	}

.success {
	background: #19af55;
	color: #fff;
}

.error {
	background: #c21e1e;
	color: #fff;
}

.info {
	background: #ccc;
	color: #000;
}


/* = Tables = */
caption {
	font-size: .75em;
	line-height: 1.33em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
}

	thead {
		color: #333;
	}

		thead th {
			box-shadow: 0 -1px 0 0 #999 inset;
		}

	th {
		font-weight: bold;
	}

	td,
	th {
		padding: .25em .5em;
		text-align: left;
		vertical-align: top;
	}


/* = Section Specific = */


/* = Page Specific = */


/* = Media Queries = */

/* tablets, landscape phones, small desktops */
@media only screen and (min-width: 640px) {
	header nav.utility {
		display: block;
	}

	header nav li {
		float: left;
		position: relative;
		white-space: nowrap;
	}
		header nav ul ul {
			display: none;
		}
			header nav li.active ul {
				background: #F2006D;
				display: block;
				width: auto;
				position: relative;
				max-height: 250px;
				padding-left: 40px;
			}
	nav.primary li,
	nav.secondary li {
		float: none;
	}

	aside.primary {
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 200px;
	}
		aside nav.secondary {
			text-align: left;
		}

	.main {
		margin-right: 192px;
		padding: 0 32px 0 0;
	}

	.mold {
		margin: 0 auto;
		max-width: 1024px;
		padding: 0 16px;
		position: relative;
	}
}

/* Desktops */
@media (min-width: 960px) {
	.wrapper,
	.branding,
	header nav.primary > ul,
	header nav.secondary > ul {
		width: 920px;
	}
}

/* = IE Specific = */
/* IE6, IE7 */
html.lt-ie8 .group,
html.lt-ie8 header nav {
	zoom: 1;
}

html.lt-ie8 header nav.primary {
	height: 45px; /* Required since all of the content are floated. */
}

html.lt-ie8 header nav.secondary {
	height: 32px; /* Required because all of the content is floated. */
}

html.lt-ie8 button,
html.lt-ie8 input,
html.lt-ie8 select,
html.lt-ie8 textarea {
	vertical-align: middle;
}

html.lt-ie8 button,
html.lt-ie8 input[type="button"],
html.lt-ie8 input[type="reset"],
html.lt-ie8 input[type="submit"] {
	overflow: visible;
}

html.lt-ie8 input[type="checkbox"],
html.lt-ie8 input[type="radio"] {
	height: 13px;
	width: 13px;
}

/* IE6, IE7, IE8 */
html.lt-ie9 .site {
	padding: 0 1em;
	width: 948px;
}

html.lt-ie9 .torso {
	padding: 2em 0;
}

html.lt-ie9 aside.primary {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
}
	html.lt-ie9 aside nav.secondary {
		text-align: left;
	}

html.lt-ie9 .main {
	margin-right: 240px;
}

	html.lt-ie9 .main aside {
		float: right;
		width: 33.33%;
		margin: 0 0 1em 1em;
	}

html.lt-ie9 header nav.primary {
	font-size: 1.25em;
}

html.lt-ie9 header nav.secondary {
	font-size: .875em;
}



/* = Print Styles = */
@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: '';
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
