html {
    height: 100%;
}

#container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

#footer {
    display: none;
}

img.content_top, img#content_top, img#content_bottom {
    display: none;
}

#content {
    padding: 3em 0;
    background-image: none;
}

#left_column {
    float: none;
    width: auto;
    margin-right: 240px;
}

#left_column .clear, #left_column #posts .post, #left_column #posts .post .post_content {
    clear: none;
}

#right_column {
    float: right;
    width: 200px;
}

.text_field_container {
    position: relative;
    display: block;
    float: left;
    max-width: 100%;
    width: 100%;
    padding-right: 1em;
    box-sizing: border-box;
}

script + div {
    display: none;
}

#post_one {
    display: block;
    width: 100%;
    max-width: 100%;
}

#post_two_ifr {
    height: 560px;
}

#left_column h1 {
    font-size: 35px;
    line-height: 0;
    margin: 0;
}

