/**
 * Univeral box-sizing reset
 */
html {
  @include prefixer(box-sizing, border-box, 'webkit' 'moz');
}

*, *::after, *::before {
  @include prefixer(box-sizing, inherit, 'webkit' 'moz');
}

/**
 * Body rules
 */
body {
  font: 1em/1.35 $text-font-stack;
  overflow: auto;
  margin: 0;
}

/**
 * Links
 */
a {
  transition: 0.15s;
  text-decoration: none;
  color: $primary-color;

  &:hover {
    &, code {
      color: $black;
    }
  }
}

/**
 * Vertical rhythm
 */
table p {
  margin: 0 0 ($vertical-rhythm / 3);
}

/**
 * Code
 */
:not(pre) > code {
  color: $primary-color;
  white-space: nowrap;
  font-weight: normal;
}

/**
 * Tables
 */
@include respond-to('small') {
  table, tbody, tr, td, th {
    display: block;
  }

  thead {
    @include visually-hidden($extend: false);
  }

  tr {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid $medium-grey;
  }

  td, th {
    &::before {
      content: attr(data-label) ': ';
      text-transform: capitalize;
      font-weight: bold;
    }

    p {
      display: inline;
    }
  }
}
