/**
 * Lists
 */
.list-unstyled {
  padding-left: 0;
  list-style: none;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: $vertical-rhythm;
}

.list-inline li {
  @include inline-block;
}

/**
 * Main container
 */
.container {
  @include clearfix;
  max-width: 100%;
  width: 1170px;
  margin: 0 auto;
  padding: 0 2rem;
}

/**
 * Visually-hidden
 */
.visually-hidden {
  @include visually-hidden;
}

/**
 * Relative
 */
.relative {
  position: relative;
}

/**
 * Clear
 */
.clear {
  clear: both;
}
