<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Carousel Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    </head>
    <body>
        <div class="torso">
            <main>
                <section class="intro">
                    <div class="container">
                        <h1>Carousel</h1>
                        <p>
                            This carousel component uses <a
                                href="http://kenwheeler.github.io/slick/">Slick</a>,
                            a carousel library by Ken Wheeler. Slick is
                            <strong>extremely configurable</strong>, supporting
                            showing mulitple slides, breakpoints, syncing between
                            slides, and plenty of javascript events and methods for
                            integration.
                        </p>
                    </div>
                </section>
                <section>


                    <!-- Begin component -->

                    <div class="container">
                        <div class="carousel">
                            <div style="background: url(../img/hero.jpg) no-repeat center top/cover;">
                                <h2>Carousel Slide 1</h2>
                                <p>
                                    Adipisicing neque excepturi pariatur maiores magnam beatae corporis harum esse id. Perspiciatis corrupti voluptate recusandae.
                                </p>
                                <p>
                                    Elit ea dignissimos quis in iste fuga ut.
                                </p>
                                <a class="button" href="">Learn More</a>
                            </div>
                            <div style="background: url(../img/hero.jpg) no-repeat center top/cover;">
                                <h2>Carousel Slide 2</h2>
                                <p>
                                    Elit aliquid et saepe eaque blanditiis. Corporis quisquam laborum similique ipsam aut. Nihil soluta dolorem.
                                </p>
                                <p>
                                    Adipisicing voluptas sequi sequi quis nostrum? Ipsum adipisci.
                                </p>
                                <a class="button" href="">Learn Less</a>
                            </div>
                            <div style="background: url(../img/hero.jpg) no-repeat center top/cover;">
                                <h2>Carousel Slide 3</h2>
                                <p>
                                    Ipsum error cum veniam est unde. Illum nihil deserunt velit culpa animi quia fuga ad.
                                </p>
                                <p>
                                    Adipisicing voluptatem voluptate consequuntur porro debitis temporibus fugiat.
                                </p>
                                <a class="button" href="">Learn Sass</a>
                            </div>
                        </div>
                    </div>

                    <!-- end component -->


                </section>
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script>
            $(function() {
                $('.carousel').slick({
                    dots: true
                });
            });
        </script>
    </body>
</html>
