<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Columns Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <div class="torso">
            <main>
                <section class="intro">
                    <div class="container">
                        <h1>Columns</h1>
                        <p>
                            Below is an example of columns.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="container">


                        <!-- Begin component -->

                        <div class="columns">
                            <div>
                                <h2>This is a column.</h2>
                                <p>
                                    Dolor deleniti asperiores doloribus sunt nesciunt itaque corporis ipsa nam. Beatae commodi delectus mollitia excepturi eum. Eius pariatur quam numquam perferendis asperiores error. Aut laudantium.
                                </p>
                            </div>
                            <hr />
                            <div>
                                <h2>This is another column.</h2>
                                <p>
                                    Elit earum adipisicing cumque quisquam quod. Est dicta sed deserunt eum culpa fugit obcaecati. Ut quis neque inventore eaque dolorum, eos. Consectetur saepe necessitatibus quos.
                                </p>
                            </div>
                            <hr />
                            <div>
                                <h2>This is the final column.</h2>
                                <p>
                                    Amet doloremque eaque exercitationem eaque rerum. Quo quas quas adipisci unde expedita tempore culpa, aspernatur cum pariatur pariatur animi sequi nihil totam. Odio tenetur minima?
                                </p>
                            </div>
                        </div>
                        
                        <!-- /end component-->


                    </div>
                </section>
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    </body>
</html>
