<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Features Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <div class="torso">
            <main>
               <section class="intro">
                   <div class="container">
                        <h1>Features</h1>
                        <p>
                            Features are meant to house three features in one row. Powered by flexbox, 
                            this allows for a bottom alignment of each feature’s anchor. Use the 
                            <code>$gutter</code> variable to pass you preferred gutter width.
                        </p>
                   </div>
                </section>
                <section>
                    <div class="container">


                        <!-- Begin component -->

                        <div class="features">
                            <div class="feature">
                                <div class="icon">
                                    <img src="http://dummyimage.com/50x40/ff675b/fff.png&text=icon" alt="">
                                </div>
                                <h4>One Great Headline</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae.</p>
                                <a href="" class="button">Learn More</a>
                            </div>
                            <div class="feature">
                                <h4>One Great Headline</h4>
                                <div class="icon">
                                    <img src="http://dummyimage.com/50x40/ff675b/fff.png&text=icon" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="" class="button">Learn More</a>
                            </div>
                            <div class="feature">
                                <div class="icon">
                                    <img src="http://dummyimage.com/50x40/ff675b/fff.png&text=icon" alt="">
                                </div>
                                <h4>One Great Headline</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae tempora distinctio numquam iusto sed iure impedit.</p>
                                <a href="" class="button">Learn More</a>
                            </div>
                        </div>

                        <!-- /end component-->


                    </div>
                </section>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    </body>
</html>
