<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Footer Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>

        <div class="torso">
            <main>
               <section class="intro">
                   <div class="container">
                        <h1>Footer</h1>
                   </div>
                </section>
            </main>
        </div>

        <footer class="primary">
            <div class="container">
                <div>
                    <div class="branding">
                        <a href="https://github.com/imarc/boilerplate">
                            <img src="../img/logo-boilerplate.png" alt="Imarc Boilerplate" />
                        </a>
                        <p>
                            21 Water St., First Floor <br>
                            Amesbury, MA 01913 <br>
                            978-462-8848
                        </p>
                    </div>
                    <nav aria-label="Footer Navigation">
                        <ul>
                            <li>
                                <a href="">Maine</a>
                            </li>
                            <li>
                                <a href="">Markup</a>
                            </li>
                            <li>
                                <a href="">New Hampshire</a>
                            </li>
                            <li>
                                <a href="">Vermont</a>
                            </li>
                        </ul>
                    </nav>
                    <div>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/ImarcAgency">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/ImarcAgency">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/imarc">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="legal">
                <p>©2016 by Imarc</p>
                <a href="">Terms</a>
                <a href="">Privacy Policy</a>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    </body>
</html>
