<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Components list - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
        <style>
            .intro ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            .intro li {
                background-color: #FFF;
                box-shadow: inset 0 0 1px #DDD;
                flex: 0 0 33.333%;
                margin-bottom: 0;
                padding: 1.25rem 1rem;
            }
            .intro a {
                font-weight: bold;
            }

        </style>
    </head>
    <body>
        <div class="torso">
            <main>
               <section class="intro">
                   <div class="container">
                        <h1>Imarc Components list</h1>
                        <ul>
                            <li>
                                <a href="accordion.html">Accordion</a>
                            </li>
                            <li>
                                <a href="background-video.html">Background video</a>
                            </li>
                            <li>
                                <a href="breadcrumbs.html">Breadcrumbs</a>
                            </li>
                            <li>
                                <a href="carousel.html">Carousel</a>
                            </li>
                            <li>
                                <a href="columns.html">Columns</a>
                            </li>
                            <li>
                                <a href="dossier.html">Dossier</a>
                            </li>
                            <li>
                                <a href="dropdown-mega.html">Dropdown (mega)</a>
                            </li>
                            <li>
                                <a href="dropdown-simple.html">Dropdown (simple)</a>
                            </li>
                            <li>
                                <a href="features.html">Features</a>
                            </li>
                            <li>
                                <a href="mobile-navigation.html">Mobile navigation</a>
                            </li>
                            <li>
                                Modal windows
                            </li>
                            <li>
                                <a href="listing.html">Listing</a>
                            </li>
                            <li>
                                <a href="login.html">Login Module</a>
                            </li>
                            <li>
                                <a href="pagination.html">Pagination</a>
                            </li>
                            <li>
                                <a href="progress.html">Progress breadcrumbs</a>
                            </li>
                            <li>
                                <a href="scroll-to-section.html">Scroll to section</a>
                            </li>
                            <li>
                                <a href="sticky-element.html">Sticky element</a>
                            </li>
                            <li>
                                <a href="sticky-header.html">Sticky header</a>
                            </li>
                            <li>
                                <a href="tabs.html">Tabs</a>
                            </li>
                            <li>
                                <a href="testimonial.html">Testimonial</a>
                            </li>
                            <li>
                                <a href="tiles.html">Tiles</a>
                            </li>
                        </ul>
                   </div>
                </section>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    </body>
</html>
