<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Listing Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <div class="torso">
            <main>
               <section class="intro">
                   <div class="container">
                        <h1>Listing</h1>
                        <p>LISTING shows a listing of entries. It includes an optional search form with filters. 
                        Remove the search form elements for a simple list with pagination.</p>
                        <h4>Emmet:</h4>
                        <pre>
<code>.listing>(form>.search>(.text>label+input^.submit>label+input[type="submit"]))+p.guide{Showing 10 of 20}+ul>li>a>h2{Listing headline}</code>
                        </pre>
                   </div>
                </section>
                <section>
                    <div class="container">

                        <!-- Begin component -->

                        <div class="listing">
                            <form>
                                <div class="search">
                                    <div class="text">
                                        <label for="search">Search the website</label>
                                        <input id="search" type="search" placeholder="Search using keywords (CSS tips, Amazon EC2)" />
                                    </div>
                                    <div class="submit">
                                        <input type="submit" value="Search" />
                                    </div>
                                </div>
                                <div class="filters">
                                    <label>
                                        <input type="checkbox"><span>case study</span>
                                    </label>
                                    <label>
                                        <input type="checkbox"><span>event</span>
                                    </label>
                                    <label>
                                        <input type="checkbox"><span>infographic</span>
                                    </label>
                                    <label>
                                        <input type="checkbox"><span>report</span>
                                    </label>
                                    <label>
                                        <input type="checkbox"><span>video</span>
                                    </label>
                                    <label>
                                        <input type="checkbox"><span>white paper</span>
                                    </label>
                                </div>
                            </form>
                            <p class="guide">
                                Showing results 1–10 for <strong>responsive design</strong>
                            </p>
                            <ul>
                                <li>
                                    <h2>
                                        <a href="">Responsive Web Design roundup for 2016 | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet eaque! Natus.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h2>
                                        <a href="">Top 3 Pitfalls of Responsive Web Design | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/pitfalls-responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet.
                                        </p>
                                    </div>
                                </li>
                                 <li>
                                    <h2>
                                        <a href="">Responsive Web Design roundup for 2016 | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet eaque! Natus.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h2>
                                        <a href="">Top 3 Pitfalls of Responsive Web Design | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/pitfalls-responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet.
                                        </p>
                                    </div>
                                </li>
                                 <li>
                                    <h2>
                                        <a href="">Responsive Web Design roundup for 2016 | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet eaque! Natus.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h2>
                                        <a href="">Top 3 Pitfalls of Responsive Web Design | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/pitfalls-responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet.
                                        </p>
                                    </div>
                                </li>
                                 <li>
                                    <h2>
                                        <a href="">Responsive Web Design roundup for 2016 | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet eaque! Natus.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h2>
                                        <a href="">Top 3 Pitfalls of Responsive Web Design | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/pitfalls-responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet.
                                        </p>
                                    </div>
                                </li>
                                 <li>
                                    <h2>
                                        <a href="">Responsive Web Design roundup for 2016 | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet eaque! Natus.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <h2>
                                        <a href="">Top 3 Pitfalls of Responsive Web Design | Imarc </a>
                                    </h2>
                                    <a class="meta" href="">http://imarc.com/blog/pitfalls-responsive-web-design</a>
                                    <div class="summary">
                                        <p>
                                            Consectetur adipisicing elit. Soluta obcaecati voluptatem facere alias nisi sint aliquid a deserunt nostrum explicabo. Ipsa dicta possimus ipsam dignissimos culpa maiores amet.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <nav class="pagination">
                            <ul>
                                <li class="previous"><a href=""><span class="sr-only">Previous</span></a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li class="active"><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li class="next disabled"><a href=""><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>

                        <!-- /end component-->


                    </div>
                </section>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    </body>
</html>
