<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Modal Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="torso">
            <main>
                <section class="intro">
                    <div class="container">
                        <h1>Modal</h1>
                        <p>
                            This modal component uses <a
                                href="https://github.com/dimsemenov/Magnific-Popup/">Magnific Popup</a>,
                            a carousel library by Dmitry Semenov. Magnific is
                            <strong>extremely configurable</strong>, supporting different content types such as images, iframe, and html,  and providing many <a href="http://dimsemenov.com/plugins/magnific-popup/documentation.html#options">options</a>.
                        </p>
                    </div>
                </section>
                <section>
                    <h2>Image Popup Example</h2>

                    <!-- Begin component -->
                    <a class="single-popup" href="../img/dossier-1.jpg" title="Katie Desmond">
                        <img src="../img/dossier-1.jpg" alt="Katie Desmond Popup">
                    </a>
                    &nbsp; &nbsp;
                    <a class="single-popup" href="../img/dossier-2.jpg" title="Jason Makin"><img src="../img/dossier-2.jpg" alt="Jason Makin Popup"></a>


                    <!-- end component -->


                </section>

                <section>
                    <h2>Video Popup Example</h2>

                    <!-- Begin component -->

                        <a href="https://s3.amazonaws.com/imarc.com/imarc-culture-video.mp4" class="magnific-video" ><img width="700" src="../img/video-placeholder.jpg" alt="Video Placeholder"></a>
                    <!-- end component -->


                </section>

                <section>
                    <h2>HTML Popup Example</h2>

                    <!-- Begin component -->
                        <a href="#test-popup" class="open-popup-link">Learn More</a>
                        <!--
                        Alternative markup with data-mfp-src attribute:
                        <a href="mobile-friendly-page.html" data-mfp-src="#test-popup" class="open-popup-link">Show inline popup</a>
                        -->

                        <!-- Popup itself -->
                        <div id="test-popup" class="inline-popup mfp-hide">
                          <h2>Popup content goes here</h2>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat urna. Morbi quis scelerisque tortor. Duis mollis et nulla eget vehicula. Vivamus varius faucibus volutpat. Duis lacinia, dolor sit amet molestie molestie, quam urna gravida lorem, eu efficitur massa metus nec est. Sed fringilla sagittis arcu ac facilisis. Phasellus laoreet dui at velit fringilla iaculis. Vestibulum pulvinar ut erat vitae dignissim. Suspendisse id scelerisque libero. Ut cursus nulla eget faucibus fringilla. Nunc eu justo ante. Pellentesque et ultrices urna. Ut malesuada orci quis commodo rhoncus.
                          </p>
                        </div>

                    <!-- end component -->


                </section>
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css"/>
        <script type="text/javascript">
            $(function(){
                $('.single-popup').magnificPopup({
                  type: 'image',
                  removalDelay: 300,
                  mainClass: 'mfp-with-fade',
                  closeOnContentClick: true,
                  image: {
                      cursor: ''
                  }
                });

                $('.magnific-video').magnificPopup({
                  disableOn: 700,
                  type: 'iframe',
                  mainClass: 'mfp-fade',
                  removalDelay: 300,
                  preloader: false,
                  fixedContentPos: false
                });

                $('.open-popup-link').magnificPopup({
                  type:'inline',
                  midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
                });
            });
        </script>
    </body>
</html>
