<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Modal Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="torso">
            <main>
                <section class="intro">
                    <div class="container">
                        <h1>Modal</h1>
                        <p>
                            This modal component uses <a
                                href="https://github.com/dimsemenov/Magnific-Popup/">Magnific Popup</a>,
                            a carousel library by Dmitry Semenov. Magnific is
                            <strong>extremely configurable</strong>, supporting different content types such as images, iframe, and html,  and providing many <a href="http://dimsemenov.com/plugins/magnific-popup/documentation.html#options">options</a>.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="container">
                        <h2>Image Popup Example</h2>
                        <p>
                            This is one of the simplest uses of magnific - zooming/expanding an image. Wrap the <code>img</code> in an <code>a</code> tag with the appropriate class and image source for the <code>href</code>, and use the <code>title</code> attribute as the image caption, as shown below:
                        </p>
                        <h4>Emmet:</h4>
                        <p>
                            <code>
                                a.image-popup[title="Image Caption"]>img[src="/path-to-image" alt="image alt text"]
                            </code>
                        </p>


                        <!-- Begin component -->
                        <a class="image-popup" href="../img/dossier-1.jpg" title="Katie Desmond">
                            <img src="../img/dossier-1.jpg" alt="Katie Desmond Popup">
                        </a>
                        &nbsp; &nbsp;
                        <a class="image-popup" href="../img/dossier-2.jpg" title="Jason Makin">
                            <img src="../img/dossier-2.jpg" alt="Jason Makin Popup">
                        </a>


                        <!-- end component -->
                    </div>

                </section>

                <section>
                    <div class="container">
                        <h2>Video Popup Example</h2>

                        <p>
                            This is a simple video popup. Wrap a video placeholder image in an <code>a</code> tag with the appropriate class, and the video link as the <code>href</code>:
                        </p>
                        <h4>Emmet:</h4>
                        <p>
                            <code>
                                a.video-popup[href="/path-to-video"]>img[src="/path-to-placeholder-image" alt="Video Placeholder Alt Text"]
                            </code>
                        </p>

                        <!-- Begin component -->
                        <a href="https://s3.amazonaws.com/imarc.com/imarc-culture-video.mp4" class="video-popup" >
                            <img width="700" src="../img/video-placeholder.jpg" alt="Video Placeholder">
                        </a>
                        <!-- end component -->
                    </div>


                </section>

                <section>
                    <div class="container">
                        <h2>HTML/Inline Popup Example(s)</h2>
                        <p>
                            This is a simple content popup which can include anything within a hidden <code>div</code>. Give your <code>a</code> tag the appropriate class, and set the <code>div id</code> as the <code>href</code>:
                        </p>
                        <h4>Emmet:</h4>
                        <p>
                            <code>
                                a.inline-popup[href="#id-of-hidden-div"]
                            </code>
                        </p>

                        <!-- Begin component -->
                        <p>
                            <a href="#test-popup" class="inline-popup button">Click Me!</a>
                        </p>
                        <!-- end component -->
                    </div>
                </section>
                <section>
                    <div class="container">
                        <p>
                            This is an alternative example using the data-mfp-src attribute in an <code>a</code> tag instead of using the <code>href</code>. <br>
                            <em>Note: you can also use a <code>span</code> tag and style it like a button.</em>
                        </p>
                        <h4>Emmet:</h4>
                        <p>
                            <code>
                                a.inline-popup[data-mfp-src="#id-of-hidden-div"]
                            </code>
                        </p>

                        <!-- Begin component -->
                        <a data-mfp-src="#test-popup2" class="inline-popup button">Click for data-mfp-source Example</a>

                        <!-- end component -->
                    </div>
                </section>
            </main>
        </div>
        <!-- HTML Popup Content - can be placed anywhere on page -->
        <div id="test-popup" class="inline-modal mfp-hide">
          <h2>Popup content goes here</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat urna. Morbi quis scelerisque tortor. Duis mollis et nulla eget vehicula. Vivamus varius faucibus volutpat. Duis lacinia, dolor sit amet molestie molestie, quam urna gravida lorem, eu efficitur massa metus nec est. Sed fringilla sagittis arcu ac facilisis. Phasellus laoreet dui at velit fringilla iaculis. Vestibulum pulvinar ut erat vitae dignissim. Suspendisse id scelerisque libero. Ut cursus nulla eget faucibus fringilla. Nunc eu justo ante. Pellentesque et ultrices urna. Ut malesuada orci quis commodo rhoncus.
          </p>
        </div>
        <div id="test-popup2" class="inline-modal mfp-hide">
          <h2>Popup2 content goes here</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat urna. Morbi quis scelerisque tortor. Duis mollis et nulla eget vehicula. Vivamus varius faucibus volutpat. Duis lacinia, dolor sit amet molestie molestie, quam urna gravida lorem, eu efficitur massa metus nec est. Sed fringilla sagittis arcu ac facilisis. Phasellus laoreet dui at velit fringilla iaculis. Vestibulum pulvinar ut erat vitae dignissim. Suspendisse id scelerisque libero. Ut cursus nulla eget faucibus fringilla. Nunc eu justo ante. Pellentesque et ultrices urna. Ut malesuada orci quis commodo rhoncus.
          </p>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css"/>
        <script type="text/javascript">
            $(function(){
                $('.image-popup').magnificPopup({
                    type: 'image',
                    image: {
                      cursor: ''
                    }
                });

                $('.video-popup').magnificPopup({
                    type: 'iframe'
                });

                $('.inline-popup').magnificPopup({
                    type:'inline'
                });
            });
        </script>
    </body>
</html>
