<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Columns Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <div class="torso">
            <main>
                <section class="intro">
                    <div class="container">
                        <h1>Columns</h1>
                        <p>
                            Below is an example of columns.
                        </p>
                    </div>
                </section>
                <section>
                    <div class="container">


                        <!-- Begin component -->

                        <h3>Plain Nav</h3>
                        <nav>
                            <ul>
                                <li><a href="">Nav Item 1</a></li>
                                <li class="active"><a href="">Nav Item 2</a></li>
                                <li><a href="">Nav Item 3</a></li>
                            </ul>
                        </nav>

                        <h3>Tabs</h3>
                        <nav class="tabs">
                            <ul>
                                <li><a href="">Nav Item 1</a></li>
                                <li class="active"><a href="">Nav Item 2</a></li>
                                <li><a href="">Nav Item 3</a></li>
                            </ul>
                        </nav>

                        <h3>Breadcrumbs</h3>
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="">Nav Item 1</a></li>
                                <li class="active"><a href="">Nav Item 2</a></li>
                                <li><a href="">Nav Item 3</a></li>
                            </ul>
                        </nav>

                        <h3>Progress</h3>
                        <nav class="progress">
                            <ul>
                                <li class="complete"><a href="">Nav Item 1</a></li>
                                <li class="complete"><a href="">Nav Item 2</a></li>
                                <li class="active"><a href="">Nav Item 3</a></li>
                                <li><a href="">Nav Item 4</a></li>
                                <li><a href="">Nav Item 5</a></li>
                                <li><a href="">Nav Item 6</a></li>
                            </ul>
                        </nav>

                        <h3>Pagination</h3>
                        <nav class="pagination">
                            <ul>
                                <li class="previous"><a href="">Previous</a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li class="active"><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li class="next disabled"><a href="">Next</a></li>
                            </ul>
                        </nav>

                        <!-- /end component-->

                    </div>
                </section>
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    </body>
</html>
