<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Pagination Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <div class="torso">
            <main>
               <section class="intro">
                   <div class="container">
                        <h1>Pagination</h1>
                        <p>
                            Pagination styles paging controls for listing pages.
                        </p>
                   </div>
                </section>
                <section>
                    <div class="container">


                        <!-- Begin component -->
                        
                        <nav class="pagination">
                            <ul>
                                <li class="previous"><a href=""><span class="sr-only">Previous</span></a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li class="active"><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li class="next disabled"><a href=""><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>

                        <!-- /end component-->


                    </div>
                </section>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    </body>
</html>
