<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Scroll to Section Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <div class="torso">
            <main>
               <section class="intro">
                   <div class="container">
                        <h1>Scroll to Section</h1>
                        <p>
                            Scroll to Section allows smooth scrolling for anchored navigation links.
                        </p>
                        <p>Emmet shorthand</p>
                        <p>
                            <pre><code>.foo</code></pre>
                        </p>

                        <p>Mixin usage</p>
                        <p>
                            <pre>
                                <code>
div {
    @include tiles($gutter: 2rem, $columns: 4);
}</code>
                            </pre>
                        </p>
                   </div>
                </section>
                <section>
                    <div class="container">


                        <!-- Begin component -->
    
                        <nav>
                            <ul>
                                <li>
                                    <a class="scroll-section" href=""></a>
                                </li>
                            </ul>
                        </nav>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias provident aspernatur eius ipsam ea hic ratione eveniet laborum, at vitae quis illo maxime quos numquam maiores nam, similique perspiciatis accusantium dolore molestiae necessitatibus perferendis veniam nostrum dicta. Aperiam?
                        </p>

                        <!-- /end component-->


                    </div>
                </section>
            </main>
        </div>

        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="../js/scrollToSection.plugin.js"></script>
    </body>
</html>
