<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sticky Header Component - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <div class="shell">
            <div class="search-drawer">
                <div>
                    <div class="container">
                        <form action="">
                            <div class="text">
                                <label class="sr-only" for="">Search the website</label>
                                <input type="text" />
                            </div>
                            <div class="submit">
                                <input type="submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <header class="primary sticky">
                <div class="container">
                    <div class="header-content">
                        <div class="branding">
                            <a href="https://github.com/imarc/boilerplate">
                                <img src="../img/logo-boilerplate.png" alt="Imarc Boilerplate">
                            </a>
                        </div>
                        <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                        <div class="mobile">
                            <nav aria-label="Primary Mobile Navigation" class="primary">
                                <ul>
                                    <li>
                                        <a href="">Maine</a>
                                        <div class="dropdown">
                                            <ul>
                                                <li><a href="">Augusta</a></li>
                                                <li><a href="">Eliot</a></li>
                                                <li><a href="">Kittery</a></li>
                                                <li><a href="">Portland</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <a href="#yup">Markup</a>
                                    </li>
                                    <li>
                                        <a href="">New Hampshire</a>
                                        <div class="dropdown">
                                            <ul>
                                                <li><a href="">Concord</a></li>
                                                <li><a href="">Manchester</a></li>
                                                <li><a href="">Portsmouth</a>
                                                    <div class="dropdown">
                                                        <ul>
                                                            <li><a href="#">Main Street</a></li>
                                                            <li><a href="#">Woodbury Ave</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="">Hampton</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="">Vermont</a>
                                        <div class="dropdown">
                                            <ul>
                                                <li><a href="">Montpelier</a></li>
                                                <li><a href="">Burlington</a></li>
                                                <li><a href="">Killington</a></li>
                                                <li><a href="">St. Johnsbury</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                            <div class="utilities">
                                <nav aria-label="Utility Navigation" class="utility">
                                    <ul>
                                        <li><a href="">Careers</a></li>
                                        <li><a href="">Legal</a></li>
                                        <li><a href="">Log In</a></li>
                                    </ul>
                                </nav>
                                <form class="search" method="post">
                                    <div class="text">
                                        <label for="search">Search the website</label>
                                        <input id="search" placeholder="Search the website" type="text" />
                                    </div>
                                    <div class="submit">
                                        <input type="submit" value="Search" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="desktop">
                            <div class="utilities">
                                <nav aria-label="Utility Navigation" class="utility">
                                    <ul>
                                        <li><a class="search-toggle" href="/search"><i aria-hidden="true" class="fa fa-search"></i> Search</a></li>
                                        <li><a href="">Careers</a></li>
                                        <li><a href="">Legal</a></li>
                                        <li><a href="">Log In</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <nav aria-label="Primary Desktop Navigation" class="primary">
                                <ul>
                                    <li class="mega">
                                        <a href="">Maine <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <div class="dropdown">
                                            <div class="menu">
                                                <div>
                                                    <ul>
                                                        <li>
                                                            <a href="">Products</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Services</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Blog</a>
                                                        </li>
                                                        <li>
                                                            <a href="">About Us</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Contact</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <h3>Lorem Ipsum Dolar Amat</h3>
                                                    <p>
                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos quisquam numquam veniam eos reprehenderit, nemo sunt nihil rem suscipit.
                                                    </p>
                                                    <p>
                                                        Nemo sunt nihil rem lorem amat fuga consectetur adipisicing elit.
                                                    </p>
                                                </div>
                                                <div>
                                                    <img src="http://dummyimage.com/600x400/ff665b/ffffff.png&text=Just an image placeholder " alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#yup">Markup <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                        <div class="dropdown">
                                            <div class="menu">
                                                <div>
                                                    <ul>
                                                        <li>
                                                            <a href="">Hello World</a>
                                                        </li>
                                                        <li>
                                                            <a href="">Lorem Ipsum Amat</a>
                                                        </li>
                                                        <li>
                                                            <a href="">HTML is on version 5</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="">New Hampshire</a>
                                    </li>
                                    <li>
                                        <a href="">Vermont</a>
                                    </li>
                                    <li>
                                        <a href="">Massachusetts</a>
                                    </li>
                                    <li>
                                        <a href="">Rhode Island</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            <div class="hero">
                <div class="copy">
                    <h1>
                        This is the Sticky Header Example
                    </h1>
                    <a class="button" href="https://github.com/imarc/boilerplate">
                        Boilerplate on Github
                    </a>
                </div>
            </div>

            <div class="torso">
                <main>
                    <section>
                        <div class="container">
                            <h2 id="columns">Sticky Header</h2>
                            <p class="intro">
                                Above is an example of a sticky header.
                            </p>
                            <p>
                                It hides as you scroll down, and reappears as you scroll back up (when you'd want to access the nav). 
                            </p>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <h2 id="Typography">Typography</h2>
                            
                            <p>
                                A basic paragraph might contain a number of different of
                                HTML elements, including
                                <a href="http://www.imarc.net">a (link)</a>,
                                <em>emphasized text</em>, and
                                <strong>strong text</strong>.
                            </p>
                            
                            <h3 id="Typographical-Blocks">Typographical Blocks</h3>
                            
                            <h1>
                                Headline One
                            </h1>
                            
                            <p>
                                This is a filler paragraph – Ignore this. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget nulla.
                            </p>
                            
                            <h2>
                                Headline Two
                            </h2>
                            
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget null
                            </p>
                            
                            <h3>
                                Headline Three
                            </h3>
                            
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget null
                            </p>
                            
                            <h4>
                                Headline Four
                            </h4>
                            
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget null
                            </p>
                            
                            <blockquote>
                                This, on the otherhand, is a blockquote, meant for large
                                quotes from other sources. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Felis est, nec convallis dui.
                            </blockquote>
                        </div>
                    </section>
                </main>
            </div>

            <footer class="primary">
                <div class="container">
                    <div class="wrapper">
                        <div class="branding">
                            <a href="https://github.com/imarc/boilerplate">
                                <img src="../img/logo-boilerplate.png" alt="Imarc Boilerplate" />
                            </a>
                            <p>
                                21 Water St., First Floor <br>
                                Amesbury, MA 01913 <br>
                                978-462-8848
                            </p>
                        </div>
                        <nav aria-label="Footer Navigation">
                            <ul>
                                <li>
                                    <a href="">Maine</a>
                                </li>
                                <li>
                                    <a href="">Markup</a>
                                </li>
                                <li>
                                    <a href="">New Hampshire</a>
                                </li>
                                <li>
                                    <a href="">Vermont</a>
                                </li>
                            </ul>
                        </nav>
                        <div>
                            <ul class="social">
                                <li class="facebook">
                                    <a href="https://www.facebook.com/ImarcAgency">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://www.twitter.com/ImarcAgency">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/company/imarc">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="legal">
                    <p>©2016 by Imarc</p>
                    <a href="">Terms</a>
                    <a href="">Privacy Policy</a>
                </div>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="../js/searchDrawer.plugin.js"></script>
        <script src="../js/stickyHeader.plugin.js"></script>
        <script src="../js/dropdown.plugin.js"></script>
        <script>
            $(function() {
                $('header.primary.sticky').stickyHeader();
                $('nav.primary').dropdown();
                $('.search-drawer').searchDrawer();
            });
        </script>
    </body>
</html>
