<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Boilerplate - A Simple &amp; Semantic Front-End - Imarc</title>
        <meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
    </head>
    <body>
        <header class="primary">
            <div class="container">
                <div class="branding">
                    <a href="https://github.com/imarc/boilerplate">
                        <img src="img/logo-boilerplate.png" alt="Imarc Boilerplate">
                    </a>
                </div>
                <div class="wrapper">
                    <nav aria-label="Primary Navigation" class="primary">
                        <ul>
                            <li>
                                <a href="">Maine</a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="">Augusta</a></li>
                                        <li><a href="">Eliot</a></li>
                                        <li><a href="">Kittery</a></li>
                                        <li><a href="">Portland</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="active">
                                <a href="#yup">Markup</a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="#Typography">Typography</a></li>
                                        <li><a href="#Articles">Articles</a></li>
                                        <li><a href="#Lists">Lists</a></li>
                                        <li><a href="#Tables">Tables</a></li>
                                        <li><a href="#Forms">Forms</a></li>
                                        <li><a href="#Breaks-and-Headings">Breaks and Headings</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="">New Hampshire</a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="">Concord</a></li>
                                        <li><a href="">Manchester</a></li>
                                        <li><a href="">Portsmouth</a></li>
                                        <li><a href="">Hampton</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="">Vermont</a>
                                <div class="dropdown">
                                    <ul>
                                        <li><a href="">Montpelier</a></li>
                                        <li><a href="">Burlington</a></li>
                                        <li><a href="">Killington</a></li>
                                        <li><a href="">St. Johnsbury</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="utilities">
                        <nav aria-label="Utility Navigation" class="utility">
                            <ul>
                                <li><a href="">Careers</a></li>
                                <li><a href="">Legal</a></li>
                                <li><a href="">Log In</a></li>
                            </ul>
                        </nav>
                        <form class="search" method="post">
                            <div class="text">
                                <label for="search">Search the website</label>
                                <input id="search" placeholder="Search the website" type="text" />
                            </div>
                            <div class="submit">
                                <input type="submit" value="Search" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>

        <div class="hero">
            <div class="copy">
                <h1>
                    This is the Sticky Header Example
                </h1>
                <a class="button" href="https://github.com/imarc/boilerplate">
                    Boilerplate on Github
                </a>
            </div>
        </div>

        <div class="torso">
            <main>
                <section>
                    <div class="container">
                        <h2 id="columns">Sticky Header</h2>
                        <p class="intro">
                            Above is an example of a sticky header.
                        </p>
                        <p>
                            It hides as you scroll down, and reappears as you scroll back up (when you'd want to access the nav). 
                        </p>
                    </div>
                </section>
                <section>
                    <div class="container">
                        <h2 id="Typography">Typography</h2>
                        
                        <p>
                            A basic paragraph might contain a number of different of
                            HTML elements, including
                            <a href="http://www.imarc.net">a (link)</a>,
                            <em>emphasized text</em>, and
                            <strong>strong text</strong>.
                        </p>
                        
                        <h3 id="Typographical-Blocks">Typographical Blocks</h3>
                        
                        <h1>
                            Headline One
                        </h1>
                        
                        <p>
                            This is a filler paragraph – Ignore this. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget nulla.
                        </p>
                        
                        <h2>
                            Headline Two
                        </h2>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget null
                        </p>
                        
                        <h3>
                            Headline Three
                        </h3>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget null
                        </p>
                        
                        <h4>
                            Headline Four
                        </h4>
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis est, nec convallis dui.  Nulla lectus velit, ornare sit amet blandit in, mattis eget null
                        </p>
                        
                        <blockquote>
                            This, on the otherhand, is a blockquote, meant for large
                            quotes from other sources. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Felis est, nec convallis dui.
                        </blockquote>
                    </div>
                </section>
            </main>
        </div>

        <footer class="primary">
            <div class="container">
                <nav aria-label="Footer Navigation">
                    <ul>
                        <li>
                            <a href="">Maine</a>
                        </li>
                        <li>
                            <a href="">Markup</a>
                        </li>
                        <li>
                            <a href="">New Hampshire</a>
                        </li>
                        <li>
                            <a href="">Vermont</a>
                        </li>
                    </ul>
                </nav>
                <ul class="social">
                    <li>
                        <a href="https://github.com/imarc/boilerplate">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ImarcAgency">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/ImarcAgency">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/imarc">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p>
                ©2016 by Imarc
            </p>
        </footer>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="../js/sticky-header.plugin.js"></script>
    </body>
</html>
