<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>User Profile Component - Imarc</title>
	<meta name="description" content="The Imarc Boilerplate is a streamlined starting point for building websites." />
	<meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/styles.css" media="all" />
</head>
<body>
<div class="torso">
	<main>
		<section class="intro">
			<div class="container">
				<h1>User Profile Component</h1>
				<h2>Emmet</h2>
				<code>.user-profile>(.portrait>img+h3.name+p.title+(a*2)+ul.social)+.biography</code>
			</div>
		</section>
		<section>
			<div class="container">
				<!-- Begin component -->

				<div class="user-profile">
					<div class="portrait">
						<img src="../img/person-placeholder.jpg" alt="John Doe">
						<h3 class="name">John Doe</h3>
						<p class="title">User Experience Engineer</p>
						<a href="tel:281330-8004">(281) 330-8004</a>
						<a href="mailto:john@imarc.com"">john@imarc.com</a>
						<ul class="social">
							<li>
								<a href="https://github.com/imarc/boilerplate">
									<i class="fa fa-github"></i>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/ImarcAgency">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://www.twitter.com/ImarcAgency">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/imarc">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="biography">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aperiam assumenda atque aut blanditiis, dolorum excepturi explicabo harum iure minima necessitatibus neque nulla placeat quaerat quia quod sit velit?
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eum expedita id iste minima nemo perspiciatis quam quis veniam. Alias debitis deserunt eius facilis libero magnam mollitia, neque nostrum praesentium?
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eum expedita id iste minima nemo perspiciatis quam quis veniam. Alias debitis deserunt eius facilis libero magnam mollitia, neque nostrum praesentium?
						</p>
						<button>Button</button>
						<button>Button</button>
					</div>
				</div>

				<!-- /end component-->
			</div>
		</section>
	</main>
</div>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="../js/site.js"></script>
</body>
</html>
