<div class="grid">
    <div class="grid-cell">
        <p><strong>Cell 1</strong> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur.</p>
    </div>
    <div class="grid-cell">
        <p><strong>Cell 2</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, impedit!</p>
    </div>
    <div class="grid-cell">
        <p><strong>Cell 3</strong> Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui.</p>
    </div>
    <div class="grid-cell">
        <p><strong>Cell 4</strong> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur.</p>
    </div>
    <div class="grid-cell">
        <p><strong>Cell 5</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, impedit!</p>
    </div>
</div>
