///
/// = Base =
///

html {
    box-sizing: border-box;
    background-color: #FFF;
    color: $plain-text;
    font-family: $font-stack;
    font-size: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

::selection {
    background: $border;
}

::-moz-selection {
    background: $border;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 .6em;
}

h1 {
    font-size: 2.2rem;
    @include breakpoint(lg) {
        font-size: 2.6rem;
    }
}

h2 {
    font-size: 1.7rem;
    @include breakpoint(lg) {
        font-size: 2.1rem;
    }
}

h3 {
    font-size: 1.3rem;
    @include breakpoint(lg) {
        font-size: 1.6rem;
    }
}

h4 {
    font-size: 1.1rem;
    @include breakpoint(lg) {
        font-size: 1.25rem;
    }
}

h5 {
    font-size: 1rem;
    @include breakpoint(lg) {
        font-size: 1.15rem;
    }
}

a {
    @include link;
}

p {
    margin: 0 0 2em;
    padding: 0;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

blockquote {
    border-left: 1px solid $border;
    color: $meta-text;
    font-style: italic;
    margin-bottom: 2em;
    padding-left: 1rem;
}

hr {
    border: 0;
    border-top: 1px solid $meta-text;
    display: block;
    height: 0;
    margin: 2em auto 3em;
    width: 100%;
}

p,
ol,
ul,
dl {
    margin-bottom: 2rem;
}

ol,
ul {
    padding-left: 2rem;
    li,
    dt,
    dd {
        margin-bottom: 0.5em;
    }
}

ul {
    list-style: disc;
}

dt {
    font-weight: bold;
    padding-left: 0.5em;
}

pre {
    background-color: #4A4A4A;
    padding: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    color: #FBCE78;
    font-family: "Consolas", monospace;
    padding: 2px 4px;
}


///
/// = Forms =
///

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
}

label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    .help {
        color: $meta-text;
        font-size: 0.8rem;
        margin: 0;
    }
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
    border: 1px solid $border;
    border-radius: 0;
    box-sizing: border-box;
    color: $plain-text;
    display: block;
    font-family: $font-stack;
    margin: 0;
    padding: 0.4rem 0.6rem;
    width: 100%;
}

input[type="reset"],
input[type="search"],
input[type="text"],
input[type="submit"] {
    border-radius: 0;
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: #4A4A4A;
}

::ms-input-placeholder {
    color: #4A4A4A;
}

::-placeholder {
    color: #4A4A4A;
}

select {
    border: 1px solid $border;
    height: 2.4rem;
    width: 100%;
}

textarea {
    height: 8em;
    overflow: auto;
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

///
/// = Tables =
///

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2rem;
    width: 100%;
    caption {
        font-size: 0.9rem;
        margin-bottom: 0.75em;
    }
    td,
    th {
        padding: 0.5em 1em;
        text-align: left;
        vertical-align: top;
    }
    th {
        background-color: $plain-text;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
    }
    td {
        border: 1px solid $border;
    }
    tr:nth-child(even) td {
        background-color: #F3F3F3;
    }
}


///
/// = Print =
///

@media print {
    * {
        background-color: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }

    a {
        text-decoration: underline;
    }

    pre,
    blockquote,
    tr,
    img,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
}
