<div class="mobile left">
    <nav class="primary">
        <ul>
            <li class="mega">
                <a href="">Maine <i class="fas fa-caret-down" aria-hidden=""></i></a>

                <button class="sub-menu-toggle" data-menu="Maine "><i class="fa fa-angle-right" aria-hidden="true"></i></button></li>
            <li>
                <a href="#yup">Markup <i class="fas fa-caret-down" aria-hidden=""></i></a>

                <button class="sub-menu-toggle" data-menu="Markup "><i class="fa fa-angle-right" aria-hidden="true"></i></button></li>
            <li>
                <a href="">New Hampshire</a>
            </li>
            <li>
                <a href="">Vermont</a>
            </li>
            <li>
                <a href="">Massachusetts</a>
            </li>
            <li>
                <a href="">Rhode Island</a>
            </li>
        </ul>
    </nav>
    <div class="utilities">
        <nav class="utility">
            <ul>
                <li><a href="">Careers</a></li>
                <li><a href="">Legal</a></li>
                <li><a href="">Log In</a></li>
            </ul>
        </nav>
        <form class="search" method="post">
            <div class="text">
                <label for="search">Search the website</label>
                <input id="search" placeholder="Search the website" type="text">
            </div>
            <div class="submit">
                <input type="submit" value="Search">
            </div>
        </form>
    </div>
</div>
