.main__section {
	margin-bottom: $vertical-rhythm * 3;
}

/**
 * Function name
 */
.item__heading {
  color: $black;
  margin: $vertical-rhythm * 3 0 $vertical-rhythm 0;
  position: relative;
  font-size: 2em;
  font-weight: 300;
  float: left;
}

/**
 * Name
 */
.item__name {
  color: $primary-color;
}

/**
 * Code blocks
 */
.item__example {
  margin-bottom: $vertical-rhythm;
}

.item__example,
.item__code {
  @include card(1);
  word-wrap: break-word;
  line-height: 1.42;
}

/**
 * Leaves room for view source link
 */
.item__code {
  padding-right: 7em;
  clear: both;
  cursor: pointer;
}

/**
 * Display a hint to expand/collapse code
 */
.item__code--togglable {
  &::after {
    @include absolute($bottom: -2.5em, $right: 0);
    @include opacity(0);
    color: darken($medium-grey, 10%);
    font-size: 0.8em;
    transition: 0.2s ease-out;
  }

  @include on-event {
    &::after {
      @include opacity(1);
    }
  }

  &[data-current-state='expanded']::after {
    content: 'Click to collapse.';
  }

  &[data-current-state='collapsed']::after {
    content: 'Click to expand.';
  }
}

/**
 * Example description
 */
.example__description {
  padding: 1em;
  background: #EFEFEF;

  p {
    margin: 0;
  }
}

/**
 * Example code
 */
.example__code[class*='language-'] {
  margin: 0;
}

/**
 * Anchor
 */
.item__anchor {
  font-size: 0.6em;
  color: lighten($primary-color, 20%);

  @include respond-to('medium') {
    @include absolute($right: 101%, $bottom: 0.25em);
    @include opacity(0);

    .item:hover & {
      @include opacity(1);
    }
  }
}

/**
 * Deprecated flag
 */
.item__deprecated {
  @include inline-block;
  overflow: hidden;
  margin-top: 5.5em;
  margin-left: 1em;

  strong {
    float: left;
    color: darken(red, 10%);
    text-transform: uppercase;
  }

  p {
    float: left;
    margin: 0;
    padding-left: 0.5em;
  }
}

/**
 * Type
 */
.item__type {
  color: $medium-grey;
  text-transform: capitalize;
  font-size: 0.75em;
}

/**
 * Aliases
 */
.item__alias,
.item__aliased {
  color: $medium-grey;
  font-size: 0.8em;
}


.item__sub-heading {
  color: $black;
  margin-top: 0;
  margin-bottom: $vertical-rhythm;
  font-size: 1.2em;
}

/**
 * Parameters table
 */
.item__parameters {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $medium-grey;
    border-top: none;
    text-align: left;
    color: mix($black, white, 70%);
  }

  tbody th {
    text-align: left;
  }

  td, th {
    padding: 0.5em 0.5em 0.5em 0;
    vertical-align: top;
  }
}

@include respond-to('medium') {
  tbody > .item__parameter:first-of-type > td {
    border-top: none;
  }

  .item__parameters td,
  .item__parameters th {
    border-top: 1px solid $medium-grey;
  }
}

/**
 * Scope/access
 */
.item__access {
  text-transform: capitalize;
  color: $tertiary-color;
  font-size: 0.8em;
}

/**
 * Since
 */
.item__since {
  float: right;
  padding-top: 0.9em;
  color: darken($medium-grey, 10%);
  margin-bottom: 1em;
}

/**
 * Link to source
 */
.item__source-link {
  @include absolute($top: 1px, $right: 1px);
  background: white;
  padding: 1em;
  z-index: z('default') + 1;
  color: darken($medium-grey, 10%);
}

.item__cross-type {
  color: lighten($black, 10%);
  font-family: 'Consolas', 'Monaco', 'Andale Mono', monospace;
  font-size: 0.8em;
}

.item__description {
  margin-bottom: $vertical-rhythm;
}

li.item__description {
  margin-bottom: 0;
}

.item__description--inline > * {
  @include inline-block;
  margin: 0;
}

.item__code-wrapper {
  position: relative;
  clear: both;
  margin-bottom: $vertical-rhythm;
}

.color-preview--inline {
  padding: 2px 4px;
  border: 1px solid rgba(black, 0.1);
  border-radius: 3px;
}

.color-preview--block {
  @include size(2em);
  @include absolute($top: 140%, $right: 0);
  top: calc(100% + 20px);
  border: 1px solid rgba(black, 0.1);
  border-radius: 3px;
}
