/**
 * Searchbar
 */
.searchbar {
  @include clearfix;
  display: inline-block;
  float: right;

  @include respond-to('small') {
    display: block;
    float: none;
  }
}

/**
 * Searchbar form
 */
.searchbar__form {
  float: right;
  position: relative;

  @include respond-to('small') {
    float: none;
  }

  @include respond-to('medium') {
    min-width: 15em;
  }
}

/**
 * Searchbar input
 */
.searchbar__field {
  border: none;
  padding: 0.5em;
  font-size: 1em;
  margin: 0;
  width: 100%;
  @include card(1);
}

/**
 * Searchbar dropdown
 */
.searchbar__suggestions {
  @include absolute($top: 100%, $right: 0, $left: 0);
  @include card(1);
  background: white;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: z('default') + 1;

  /**
   * Hidden when empty
   */
  &:empty {
    display: none;
  }

  .selected {
    background: $medium-grey;
  }

  li {
    border-bottom: 1px solid $light-grey;

    &:last-of-type {
      border: none;
    }
  }

  a {
    display: block;
    padding: 0.5em;
    font-size: 0.9em;

    @include on-event {
      background: $light-grey;
    }
  }

  code {
    margin-right: .5em;
  }
}
