/**
 * Sidebar
 */
.sidebar {
  @include respond-to('medium') {
    @include fixed($top: 0, $bottom: 0, $left: 0);
    overflow: auto;
    box-shadow: 1px 0 1.5px rgba(black, 0.12);
    width: $sidebar-width;
    z-index: z('default') + 1;
    border-right: 1px solid $light-grey;
    transition: .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  @include respond-to('small') {
	margin-top: 4em;
  }
}

/**
 * Private and alias annotations
 */
.sidebar__annotation {
  color: $tertiary-color;
}

$level-1: 1.5em;
$level-2: $level-1 + 1em;
$level-3: $level-2 + 2em;

/**
 * Sidebar items
 */
.sidebar__item {
  font-size: 0.9em;

  a {
    padding: 0.5em $level-3;
    display: block;
    text-decoration: none;
    color: $black;
  }

  @include on-event {
    background: $light-grey;
  }

  &.is-collapsed + * {
    display: none;
  }
}

/**
 * List item heading
 */
.sidebar__item--heading {
  padding: 1em $level-1;

  a {
    font-weight: bold;
  }
}

/**
 * List item sub-heading
 */
.sidebar__item--sub-heading {
  padding: 0.5em $level-2;

  a {
    color: #888;
  }
}

/**
 * List item headings and sub-headings
 */
.sidebar__item--heading,
.sidebar__item--sub-heading {
  position: relative;

  &:after {
    @include absolute($right: 2em, $top: 50%);
    content: '\25BC';
    margin-top: -0.5em;
    color: $medium-grey;
    font-size: 0.7em;
  }

  &.is-collapsed:after {
    content: '\25B6';
  }

  a {
    padding: 0;
    display: inline;
  }
}

/**
 * Project description
 */
.sidebar__description {
  color: $light-grey;
  padding-right: 2em;
}

/**
 * Sidebar header with title
 */
.sidebar__header {
  border-bottom: 1px solid $light-grey;
}

/**
 * Sidebar main title
 */
.sidebar__title {
  @include ellipsis;
  font-size: 1em;
  margin: 0;
  padding: 1.45em;
}

/**
 * Sidebar toggle button
 */
.btn-toggle {
  background: #EFEFEF;
  border: none;
  border-bottom: 1px solid $light-grey;
  display: block;
  padding: 1em;
  width: 100%;
  cursor: pointer;
  color: #999;
  font-weight: bold;
  margin: 0;
  transition: 0.15s ease-out;

  @include on-event {
    background: #DFDFDF;
  }
}
